openapi: 3.2.0
info:
  title: V3 Email Inbox Messages API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: email-inbox-messages
  x-displayName: Email Inbox Messages
  description: Get Email Inbox message details
paths:
  /v3/email-inbox-messages/{messageId}:
    parameters:
    - $ref: '#/components/parameters/EmailInboxMessageId'
    get:
      tags:
      - email-inbox-messages
      operationId: getEmailInboxMessageDetails
      summary: Get all the details of an email inbox message
      responses:
        '200':
          description: The details of the email inbox message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailInboxMessageDetailsResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/email-inbox-messages/<span class="op-path-parameter">{messageId}</span></div>
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    EmailInboxMessageDetailsResponseDTO:
      type: object
      required:
      - subject
      - sendingPlatform
      - sendingEmail
      - linksScanned
      - headers
      - screenshot
      - screenshotThumb
      - emailRawHtml
      - linksScannedValues
      properties:
        subject:
          type: string
        receivedAt:
          type: string
        sendingPlatform:
          type: string
        sendingEmail:
          type: string
        linksScanned:
          type: integer
        headers:
          type: array
          items:
            $ref: '#/components/schemas/EmailMessageDetailsHeaderDTO'
        screenshot:
          type: string
        screenshotThumb:
          type: string
        emailRawHtml:
          type: string
        linksScannedValues:
          description: All links found in the email message
          type: array
          items:
            type: string
    EmailMessageDetailsHeaderDTO:
      type: object
      required:
      - name
      - value
      - isId
      - vendor
      - description
      properties:
        name:
          type: string
        value:
          type: string
        isId:
          type: boolean
        vendor:
          type: string
        description:
          type: string
  responses:
    Forbidden:
      description: You don't have enough rights to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  parameters:
    EmailInboxMessageId:
      in: path
      name: messageId
      required: true
      allowEmptyValue: false
      schema:
        type: number
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
