openapi: 3.2.0
info:
  title: V3 Manual Journey Run Export API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: manual-journey-run-export
  x-displayName: Manual Journey Run Export
  description: Export manual journey run data
paths:
  /v3/manual-journeys/{manualJourneyId}/runs/{runId}/exports/{exportType}:
    parameters:
    - $ref: '#/components/parameters/ManualJourneyId'
    - $ref: '#/components/parameters/RunId'
    - name: exportType
      in: path
      required: true
      description: Controls accepted values
      schema:
        $ref: '#/components/schemas/ManualJourneyRun_ExportTypeEnum'
    post:
      tags:
      - manual-journey-run-export
      operationId: requestManualJourneyRunExport
      summary: Create export for manual journey run
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualJourneyRun_ExportRequestDTO'
      responses:
        '201':
          description: Details of created export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResultDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/manual-journeys/<span class="op-path-parameter">{manualJourneyId}</span>/runs/<span class="op-path-parameter">{runId}</span>/exports/<span class="op-path-parameter">{exportType}</span></div>
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    ExportResultDTO:
      type: object
      required:
      - exportId
      properties:
        exportId:
          $ref: '#/components/schemas/ExportId'
    ManualJourneyRun_ExportRequestDTO:
      type: object
      properties:
        includeActions:
          type: boolean
        includeRequestLog:
          type: boolean
        includeRuleResults:
          type: boolean
        includeTagSummary:
          type: boolean
        includeTagDetails:
          type: boolean
    ManualJourneyRun_ExportTypeEnum:
      type: string
      description: All supported manual journey run export types
      enum:
      - FULL
    RunId:
      type: integer
      format: int64
      example: 33010
    ExportId:
      type: integer
      format: int64
      description: Unique ID of an export
    ManualJourneyId:
      type: integer
      format: int64
      example: 107239
  responses:
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  parameters:
    RunId:
      name: runId
      in: path
      required: true
      description: Unique identification number for web audit or journey run
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/RunId'
    ManualJourneyId:
      name: manualJourneyId
      in: path
      required: true
      description: Unique identification number for manual journey
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/ManualJourneyId'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
