openapi: 3.2.0
info:
  title: V3 Email Finder API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: email-finder
  x-displayName: Email Finder
  description: OpAdmin-only APIs for finding email inboxes and messages by search string
paths:
  /v3/email-finder:
    get:
      tags:
      - email-finder
      operationId: findEmail
      summary: Find email inboxes and messages
      description: '<div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/email-finder</div>


        Find email inboxes and received email messages by search string. Available for ≥ OpAdmins only.'
      parameters:
      - name: search
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/EmailFinderSearchParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailFinderResultsDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - API_Key: []
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    FoundEmailMessageDTO:
      type: object
      description: 'Represents a received email message retrieved from a search operation. Email messages can be searched by the following properties:

        - `id`

        - `name` (the message subject)

        '
      required:
      - id
      - name
      - accountId
      - inboxId
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        accountId:
          type: integer
          format: int64
        inboxId:
          type: integer
          format: int64
    EmailFinderSearchParam:
      type: string
      minLength: 1
      description: Parameter to search for email inboxes or messages
    EmailFinderResultsDTO:
      type: object
      required:
      - inboxes
      - messages
      properties:
        inboxes:
          type: array
          items:
            $ref: '#/components/schemas/FoundEmailInboxDTO'
        messages:
          type: array
          items:
            $ref: '#/components/schemas/FoundEmailMessageDTO'
    FoundEmailInboxDTO:
      type: object
      description: 'Represents an email inbox retrieved from a search operation. Email inboxes can be searched by the following properties:

        - `id`

        - `name`

        '
      required:
      - id
      - name
      - accountId
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        accountId:
          type: integer
          format: int64
        mostRecentMessageId:
          type:
          - integer
          - 'null'
          format: int64
          description: ID of the most recently received message in this inbox, or null if the inbox has no messages
  responses:
    Forbidden:
      description: You don't have enough rights to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
