openapi: 3.2.0
info:
  title: V3 Request Privacy Report API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: request-privacy-report
  x-displayName: Request Privacy Report
  description: Request Privacy report endpoints
paths:
  /v3/web-audits/{auditId}/runs/{runId}/reports/request-privacy:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    post:
      tags:
      - request-privacy-report
      summary: Get Request Privacy summary for specified audit run
      operationId: getAuditRunRequestPrivacySummary
      requestBody:
        description: Filters applicable to Request Privacy report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestDTO'
      responses:
        '200':
          description: Request Privacy summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_RequestPrivacy_SummaryDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/request-privacy</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/request-privacy/trends:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    get:
      tags:
      - request-privacy-report
      summary: Get Request Privacy trends relative to specified audit run
      operationId: getAuditRunRequestPrivacyTrends
      responses:
        '200':
          description: Request Privacy trends data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_RequestPrivacy_TrendsDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/request-privacy/trends</div>
  /v3/web-audits/{auditId}/reports/request-privacy/trends/{trendName}:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - name: trendName
      in: path
      required: true
      description: name of requested trend
      schema:
        $ref: '#/components/schemas/AuditRun_RequestPrivacy_TrendsEnum'
    - $ref: '#/components/parameters/AuditRun_Trends_DaysParam'
    get:
      tags:
      - request-privacy-report
      summary: Get Request Privacy specific trend values relative to current day
      operationId: getAuditRunRequestPrivacyTrend
      responses:
        '200':
          description: Request Privacy specific trend values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemRun_SpecificTrendValuesDTO'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/reports/request-privacy/trends/<span class="op-path-parameter">{trendName}</span></div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/request-privacy/locations:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    post:
      tags:
      - request-privacy-report
      summary: Get Request Privacy locations for specified audit run
      operationId: getAuditRunRequestPrivacyLocations
      requestBody:
        description: Filters applicable to Request Privacy report. `countryCode` filter is not abided by this endpoint.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestDTO'
      responses:
        '200':
          description: Request Privacy locations data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestLocationsDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/request-privacy/locations</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/request-privacy/compliance:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    - $ref: '#/components/parameters/pageParam'
    - $ref: '#/components/parameters/AuditRun_RequestDomainGeoList_PageSizeParam'
    - name: sortBy
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestsSortColumn'
    - $ref: '#/components/parameters/SortDescendingParam'
    post:
      tags:
      - request-privacy-report
      summary: Get Request Privacy compliance for specified audit run
      operationId: getAuditRunRequestPrivacyCompliance
      requestBody:
        description: Filters applicable to Request Privacy report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestDTO'
      responses:
        '200':
          description: Request Privacy compliance data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestsComplianceDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/request-privacy/compliance</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/request-privacy/pages:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    - $ref: '#/components/parameters/pageParam'
    - $ref: '#/components/parameters/AuditRun_PagesList_PageSizeParam'
    - $ref: '#/components/parameters/AuditRun_RequestPrivacy_PagesSortParam'
    - $ref: '#/components/parameters/SortDescendingParam'
    post:
      tags:
      - request-privacy-report
      summary: Get Request Privacy pages data for specified audit run
      operationId: getAuditRunRequestPrivacyPages
      requestBody:
        description: Filters applicable to Request Privacy report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestDTO'
      responses:
        '200':
          description: Request Privacy pages data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_RequestPrivacy_PagesDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/request-privacy/pages</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/request-privacy/request-pages:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    - $ref: '#/components/parameters/pageParam'
    - $ref: '#/components/parameters/AuditRun_PagesList_PageSizeParam'
    - $ref: '#/components/parameters/AuditRun_RequestPrivacy_PagesSortParam'
    - $ref: '#/components/parameters/SortDescendingParam'
    post:
      tags:
      - request-privacy-report
      summary: Get Request Privacy pages data for specific request in specified audit run
      operationId: getAuditRunRequestPrivacyRequestPages
      requestBody:
        description: Filters applicable to Request Privacy report
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestPagesRequestDTO'
      responses:
        '200':
          description: Request Privacy pages data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_RequestPrivacy_PagesDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/request-privacy/request-pages</div>
components:
  schemas:
    PageUrlFilterEnum:
      type: string
      enum:
      - contains
      - regex
    AuditId:
      type: integer
      format: int64
      example: 107239
    PageId:
      type: string
      example: f9d32cc7cc2046d6decb145a80289287f5226323
    IntegerFilterTypeEnum:
      type: string
      enum:
      - specific
      - range
    PageStatusCode:
      type: integer
      description: Page HTTP status code
    AuditRunPageTrait:
      description: Common trait for audit page with mandatory page properties
      type: object
      required:
      - pageId
      - pageUrl
      properties:
        pageId:
          $ref: '#/components/schemas/PageId'
        pageUrl:
          $ref: '#/components/schemas/PageUrl'
    ItemRun_SpecificTrendValuesDTO:
      type: object
      required:
      - runs
      properties:
        runs:
          type: array
          items:
            $ref: '#/components/schemas/ItemRun_SpecificTrendValueItem'
    CountryCode:
      type: string
      description: ISO 3166-1 (Alpha-2) country code
      example: US
    ItemRunTrendsItemTrait:
      type: object
      required:
      - runId
      - completedAt
      properties:
        runId:
          $ref: '#/components/schemas/RunId'
        completedAt:
          $ref: '#/components/schemas/DateAndTime'
    AuditRun_RequestPrivacy_RequestItem:
      type: object
      required:
      - requestDomain
      - requestCount
      - filteredPageCount
      properties:
        requestDomain:
          $ref: '#/components/schemas/RequestDomain'
        requestGeo:
          $ref: '#/components/schemas/AuditRun_RequestPrivacy_GeoLocation'
        requestCount:
          type: integer
        consentCategoryComplianceStatus:
          $ref: '#/components/schemas/ConsentCategoryComplianceStatus'
        consentCategorySnapshotId:
          $ref: '#/components/schemas/ConsentCategorySnapshotId'
        consentCategoryName:
          $ref: '#/components/schemas/ConsentCategoryName'
        consentCategories:
          type: array
          description: List of consent categories matching this request
          minItems: 0
          items:
            $ref: '#/components/schemas/AuditRunPrivacy_ConsentCategoryItem'
        filteredPageCount:
          type: integer
    AuditRun_RequestPrivacy_RequestsSortColumn:
      type: string
      enum:
      - compliance_status
      - page_count
      - domain
      - geo
      - request_count
      - consent_category_name
      - consent_categories
    PageUrlFilter:
      type: object
      required:
      - filterType
      - filterValue
      properties:
        filterType:
          $ref: '#/components/schemas/PageUrlFilterEnum'
        filterValue:
          type: string
          minLength: 1
        negated:
          type: boolean
          description: Switches from "contains" to "not contains", and from "matches regex" to "does not match regex". Supported only by Page Summary for now
          default: false
    AuditRun_RequestPrivacy_RequestDTO:
      description: Request body with filters for Request Privacy report. `consentCategorySnapshotId` is deprecated, need to use `consentCategoryId` instead
      type: object
      allOf:
      - $ref: '#/components/schemas/PageFiltersTrait'
      - type: object
        properties:
          requestDomain:
            $ref: '#/components/schemas/RequestDomain'
          consentCategoryId:
            $ref: '#/components/schemas/ConsentCategoryId'
          consentCategorySnapshotId:
            $ref: '#/components/schemas/ConsentCategorySnapshotId'
          consentCategoryComplianceStatus:
            $ref: '#/components/schemas/ConsentCategoryComplianceStatus'
          countryCode:
            $ref: '#/components/schemas/CountryCode'
    IntegerRangeFilterTrait:
      type: object
      description: Common trait for integer min max filter
      properties:
        min:
          type: integer
          minimum: 0
        max:
          type: integer
    PageRedirectCountFilter:
      description: Number of redirects for a page. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/IntegerRangeFilterTrait'
    AuditRun_RequestPrivacy_PagesDTO:
      type: object
      required:
      - metadata
      - pages
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        pages:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_RequestPrivacy_PageItem'
    AuditRun_RequestPrivacy_PageItem:
      allOf:
      - $ref: '#/components/schemas/AuditRunPageCommonColumnsWithFinalValuesTrait'
      - type: object
        required:
        - geoCount
        - requestCount
        properties:
          geoCount:
            type: integer
            description: Number of distinct geo locations on a page
          requestCount:
            type: integer
            description: Number of network requests discovered on a page
    AuditRunPageCommonColumnsWithFinalValuesTrait:
      description: Trait for audit page with final URL and final status code
      allOf:
      - $ref: '#/components/schemas/AuditRunPageCommonColumnsTrait'
      - type: object
        properties:
          finalPageUrl:
            $ref: '#/components/schemas/PageUrl'
          finalPageStatusCode:
            $ref: '#/components/schemas/PageStatusCode'
    AuditRun_RequestPrivacy_TrendsDTO:
      description: Request Privacy report trends
      required:
      - runs
      properties:
        runs:
          type: array
          maxItems: 5
          items:
            $ref: '#/components/schemas/AuditRun_RequestPrivacy_TrendItem'
    PaginationMetadata:
      type: object
      required:
      - totalCount
      - totalPageCount
      - pageSize
      - currentPageSize
      - currentPageNumber
      properties:
        totalCount:
          description: Total number of items available from all result pages combined
          type: integer
        totalPageCount:
          description: Total number of pages available
          type: integer
        pageSize:
          description: Page size - number of items per result page configured by `size` query parameter or default page size
          type: integer
        currentPageSize:
          description: Number of items in current result page
          type: integer
        currentPageNumber:
          description: Current page number/ordinal
          type: integer
    ConsentCategoryComplianceStatus:
      type: string
      enum:
      - approved
      - unapproved
    ConsentCategoryName:
      type: string
      description: Name of consent category item (tag, cookie, domain, geo) belongs to
    PageFiltersTrait:
      type: object
      description: Common trait for page filters
      properties:
        pageUrl:
          $ref: '#/components/schemas/PageUrlFilter'
        finalPageUrl:
          $ref: '#/components/schemas/PageUrlFilter'
        pageTitle:
          $ref: '#/components/schemas/PageTitleFilter'
        initialPageStatusCode:
          $ref: '#/components/schemas/IntegerFilter'
        finalPageStatusCode:
          $ref: '#/components/schemas/IntegerFilter'
        combinedPageStatusCode:
          $ref: '#/components/schemas/CombinedPageStatusCodeEnum'
        pageLoadTime:
          $ref: '#/components/schemas/PageLoadTimeFilter'
        pageSize:
          $ref: '#/components/schemas/PageSizeFilter'
        redirectCount:
          $ref: '#/components/schemas/PageRedirectCountFilter'
        hasBrokenLinks:
          type: boolean
    AuditRun_RequestPrivacy_RequestLocationsDTO:
      type: object
      required:
      - locations
      properties:
        locations:
          description: Same `requestGeo.country` may be repeated in different array elements and may have different `status`es with different consent categories
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestLocationItem'
    AuditRun_RequestPrivacy_RequestsComplianceDTO:
      description: Request Compliance data
      type: object
      required:
      - metadata
      - requests
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        requests:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_RequestPrivacy_RequestItem'
    PageUrl:
      type: string
      format: url
      example: https://example.com/about
    AuditRun_RequestPrivacy_TrendItem:
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.ItemRunTrendsItemTraitInterface
      allOf:
      - $ref: '#/components/schemas/ItemRunTrendsItemTrait'
      - type: object
        required:
        - totalRequestCount
        - totalUniqueRequestDomainCount
        - totalUniqueRequestGeoCount
        - totalApprovedRequestCount
        - totalUniqueApprovedRequestDomainCount
        - totalUnapprovedRequestCount
        - totalUniqueUnapprovedRequestDomainCount
        properties:
          totalRequestCount:
            type: integer
            description: Total number of network requests discovered
          totalUniqueRequestDomainCount:
            type: integer
            description: Total number of unique network request domains discovered
          totalUniqueRequestGeoCount:
            type: integer
            description: Total number of unique network request geolocations discovered
          totalApprovedRequestCount:
            type: integer
            description: Total number of approved domain+geo pairs discovered
            deprecated: true
          totalUniqueApprovedRequestDomainCount:
            type: integer
            description: Total number of unique approved request domains discovered
          totalUnapprovedRequestCount:
            type: integer
            description: Total number of unapproved domain+geo pairs discovered
            deprecated: true
          totalUniqueUnapprovedRequestDomainCount:
            type: integer
            description: Total number of unique unapproved domains discovered
    AuditRun_RequestPrivacy_GeoLocation:
      type: object
      required:
      - countryCode
      - countryName
      properties:
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        countryName:
          type: string
          example: United States
    AuditRun_RequestPrivacy_RequestPagesRequestDTO:
      type: object
      required:
      - requestDomain
      allOf:
      - $ref: '#/components/schemas/PageFiltersTrait'
      - type: object
        properties:
          requestDomain:
            $ref: '#/components/schemas/RequestDomain'
          countryCode:
            $ref: '#/components/schemas/CountryCode'
    CombinedPageStatusCodeEnum:
      type: string
      description: '- `broken` - initial or final URL are `broken`,

        - `good` - initial URL is `good` or `redirect` and final URL is `good`

        '
      enum:
      - broken
      - good
    RequestDomain:
      type: string
      description: Network request URL domain
      example: example.com
    ItemRun_SpecificTrendValueItem:
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.ItemRunTrendsItemTraitInterface
      allOf:
      - $ref: '#/components/schemas/ItemRunTrendsItemTrait'
      - type: object
        required:
        - trendValue
        properties:
          trendValue:
            type: number
    RunHasNoConsentCategoriesAssigned:
      type: boolean
      description: 'When TRUE, run did not have any consent categories assigned.

        When NOT specified or FALSE, it had at least one.

        '
    RunId:
      type: integer
      format: int64
      example: 33010
    AuditRun_RequestPrivacy_SummaryDTO:
      description: Request Privacy report summary
      type: object
      required:
      - totalPageCount
      - filteredPageCount
      - totalRequestCount
      - filteredRequestCount
      - filteredUniqueRequestDomainCount
      - filteredUniqueRequestGeoCount
      - totalApprovedRequestCount
      - totalUniqueApprovedRequestDomainCount
      - filteredApprovedRequestCount
      - filteredUniqueApprovedRequestDomainCount
      - totalUnapprovedRequestCount
      - totalUniqueUnapprovedRequestDomainCount
      - filteredUnapprovedRequestCount
      - filteredUniqueUnapprovedRequestDomainCount
      - filteredPageWithUnapprovedRequestCount
      - runHasNoConsentCategoriesAssigned
      properties:
        totalPageCount:
          type: integer
          description: Total number of pages audited
        filteredPageCount:
          type: integer
          description: Number of pages passing all applied filters
        totalRequestCount:
          type: integer
          description: Total number of network requests discovered
        filteredRequestCount:
          type: integer
          description: Number of network request passing all applied filters
        filteredUniqueRequestDomainCount:
          type: integer
          description: Number of unique network request domains passing all applied filters
        filteredUniqueRequestGeoCount:
          type: integer
          description: Number of unique network request geolocations passing all applied filters
        totalApprovedRequestCount:
          type: integer
          description: Total number of approved domain+geo pairs discovered
          deprecated: true
        totalUniqueApprovedRequestDomainCount:
          type: integer
          description: Total number of unique approved request domains discovered
        filteredApprovedRequestCount:
          type: integer
          description: Number of approved domain+geo pairs passing all applied filters
          deprecated: true
        filteredUniqueApprovedRequestDomainCount:
          type: integer
          description: Number of unique approved request domains passing all applied filters
        totalUnapprovedRequestCount:
          type: integer
          description: Total number of unapproved domain+geo pairs discovered
          deprecated: true
        totalUniqueUnapprovedRequestDomainCount:
          type: integer
          description: Total number of unique unapproved domains discovered
        filteredUnapprovedRequestCount:
          type: integer
          description: Number of unapproved domain+geo pairs passing all applied filters
          deprecated: true
        filteredUniqueUnapprovedRequestDomainCount:
          type: integer
          description: Number of unique unapproved domains passing all applied filters
        filteredPageWithUnapprovedRequestCount:
          type: integer
          description: Number of pages with unapproved domains or geos passing all applied filters
        runHasNoConsentCategoriesAssigned:
          $ref: '#/components/schemas/RunHasNoConsentCategoriesAssigned'
    PageSizeFilter:
      description: Page size in bytes. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/LongIntegerRangeFilterTrait'
    AuditRun_RequestPrivacy_RequestLocationItem:
      type: object
      description: Consent category id & name are absent if location has not been matched by any consent category
      required:
      - requestGeo
      - requestCount
      properties:
        requestGeo:
          $ref: '#/components/schemas/AuditRun_RequestPrivacy_GeoLocation'
        requestCount:
          type: integer
        status:
          $ref: '#/components/schemas/ConsentCategoryComplianceStatus'
    AuditRunPageCommonColumnsTrait:
      description: Trait for audit page with common page properties
      allOf:
      - $ref: '#/components/schemas/AuditRunPageTrait'
      - type: object
        required:
        - pageLoadTime
        - pageStatusCode
        properties:
          pageLoadTime:
            $ref: '#/components/schemas/PageLoadTime'
          pageStatusCode:
            $ref: '#/components/schemas/PageStatusCode'
    ConsentCategoryId:
      type: integer
      example: 3301
      description: ID of consent category
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    AuditRun_RequestPrivacy_TrendsEnum:
      type: string
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.TrendEnumCompatibleWithRunsGrid
      enum:
      - request_count
      - unique_domains
      - unique_geos
      - approved_requests
      - unique_approved_domains
      - unapproved_requests
      - unique_unapproved_domains
    ConsentCategorySnapshotId:
      type: integer
      format: int64
      example: 33010
      description: Use in filtering purposes is DEPRECATED in favour of `ConsentCategoryId`! Snapshot Id of consent category attached to this run
    PageLoadTime:
      type: integer
      description: Time page took to load, in milliseconds
    CommonIterableResponseMetadata:
      description: Common metadata for iterable
      type: object
      required:
      - pagination
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    DateAndTime:
      type: string
      format: date-time
      description: 'Date-time in [RFC3339 profile ISO 8601 format](https://www.ietf.org/rfc/rfc3339.txt) with

        the following additional restrictions:

        1. An uppercase T must separate the date and time portions.

        2. An uppercase Z must denote that a numeric time zone offset isn''t present.


        In general, these timestamp requirements are the same in

        [AWS Step Functions - Choice Rules](https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-choice-state.html)

        '
      example: '2016-08-18T17:33:00Z'
    LongIntegerRangeFilterTrait:
      type: object
      description: Common trait for long integer min max filter
      properties:
        min:
          type: integer
          format: int64
          minimum: 0
        max:
          type: integer
          format: int64
    StringInclusionFilterTypeEnum:
      type: string
      enum:
      - contains
      - not_contains
    PageLoadTimeFilter:
      description: Page load time in milliseconds. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/IntegerRangeFilterTrait'
    AuditRunPrivacy_ConsentCategoryItem:
      type: object
      required:
      - consentCategoryComplianceStatus
      - consentCategoryName
      - consentCategorySnapshotId
      properties:
        consentCategoryComplianceStatus:
          $ref: '#/components/schemas/ConsentCategoryComplianceStatus'
        consentCategoryName:
          $ref: '#/components/schemas/ConsentCategoryName'
        consentCategorySnapshotId:
          $ref: '#/components/schemas/ConsentCategorySnapshotId'
    PageTitleFilter:
      type: object
      required:
      - filterType
      - filterValue
      properties:
        filterType:
          $ref: '#/components/schemas/StringInclusionFilterTypeEnum'
        filterValue:
          type: string
          description: Page title as displayed by browser
          minLength: 1
          example: ObserveP
    AuditRun_RequestPrivacy_PagesSortColumn:
      type: string
      enum:
      - page_url
      - final_page_url
      - page_load_time
      - page_status_code
      - final_page_status_code
      - geo_count
      - request_count
    IntegerFilter:
      type: object
      required:
      - filterType
      - negated
      properties:
        filterType:
          $ref: '#/components/schemas/IntegerFilterTypeEnum'
        negated:
          type: boolean
          description: Switches from `==` to `!=`, and from `between [minInclusive, maxExclusive)` to `NOT between [minInclusive, maxExclusive)`
      discriminator:
        propertyName: filterType
        mapping:
          specific: '#/components/schemas/SpecificIntegerFilter'
          range: '#/components/schemas/IntegerRangeFilter'
  parameters:
    AuditRun_Trends_DaysParam:
      name: days
      in: query
      required: true
      schema:
        type: integer
        description: Number of days to get trend values for, relative to current time
        maximum: 390
        minimum: 1
    AuditRun_RequestDomainGeoList_PageSizeParam:
      in: query
      name: size
      required: false
      schema:
        type: integer
        maximum: 1000
        default: 100
        minimum: 100
    AuditId:
      name: auditId
      in: path
      required: true
      description: Unique identification number for web audit
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/AuditId'
    AuditRun_PagesList_PageSizeParam:
      in: query
      name: size
      required: false
      schema:
        type: integer
        maximum: 1000
        default: 50
        minimum: 50
    pageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Page number, starts with 0
    RunId:
      name: runId
      in: path
      required: true
      description: Unique identification number for web audit or journey run
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/RunId'
    SortDescendingParam:
      name: sortDesc
      in: query
      description: Controls sorting order
      required: false
      schema:
        type: boolean
        default: false
    AuditRun_RequestPrivacy_PagesSortParam:
      name: sortBy
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/AuditRun_RequestPrivacy_PagesSortColumn'
  responses:
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
