openapi: 3.2.0
info:
  title: V3 Action Sets API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: action-sets
  x-displayName: Action Sets
  description: APIs for managing Action Sets
paths:
  /v3/action-sets:
    get:
      tags:
      - action-sets
      summary: Get action sets
      description: '<div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/action-sets</div>


        Retrieve all action sets in the account'
      operationId: getActionSets
      parameters:
      - in: query
        name: accountId
        required: false
        schema:
          type: integer
        description: Filter action sets by account ID
      responses:
        '200':
          description: Action sets retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActionSetDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - API_Key: []
    post:
      tags:
      - action-sets
      summary: Create action set
      description: '<div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/action-sets</div>


        Create a new action set'
      operationId: createActionSet
      parameters:
      - in: query
        name: accountId
        required: false
        schema:
          type: integer
        description: Account ID to create action set in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionSetDto'
      responses:
        '200':
          description: Action set created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSetDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
  /v3/action-sets/{actionSetId}:
    get:
      tags:
      - action-sets
      summary: Get action set by ID
      description: '<div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/action-sets/<span class="op-path-parameter">{actionSetId}</span></div>


        Retrieve a specific action set by its ID'
      operationId: getActionSet
      parameters:
      - name: actionSetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID of the action set to retrieve
      responses:
        '200':
          description: Action set retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSetDto'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
    put:
      tags:
      - action-sets
      summary: Update action set
      description: '<div class="op-path-box"><span class="op-http-method-put">PUT</span> /v3/action-sets/<span class="op-path-parameter">{actionSetId}</span></div>


        Update an existing action set'
      operationId: updateActionSet
      parameters:
      - name: actionSetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID of the action set to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionSetDto'
      responses:
        '200':
          description: Action set updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSetDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
    delete:
      tags:
      - action-sets
      summary: Delete action set
      description: '<div class="op-path-box"><span class="op-http-method-delete">DELETE</span> /v3/action-sets/<span class="op-path-parameter">{actionSetId}</span></div>


        Delete an existing action set'
      operationId: deleteActionSet
      parameters:
      - name: actionSetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID of the action set to delete
      responses:
        '204':
          description: Action set deleted successfully
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
components:
  schemas:
    ActionSetDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
          description: Name of the action set
          minLength: 1
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ActionSetActionDto'
          description: List of actions in the action set
          minItems: 1
        updatedAt:
          type: string
          format: local-date-time
          readOnly: true
          description: Timestamp when the action set was last updated
        createdAt:
          type: string
          format: local-date-time
          readOnly: true
          description: Timestamp when the action set was created
        accountId:
          type: integer
          readOnly: true
          description: ID of the account the action set belongs to
        userId:
          type: integer
          readOnly: true
          description: ID of the user the action set belongs to
      required:
      - name
      - actions
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    WebActionSelector:
      type: object
      properties:
        selectorType:
          $ref: '#/components/schemas/WebActionSelectorType'
        value:
          description: Selector value - string for simple selectors (CSS, XPath, id, name) or AttributeSelectorValue object for htmlattributes selector type
      required:
      - selectorType
      - value
    ActionSetActionDto:
      allOf:
      - $ref: '#/components/schemas/SequencedAction'
      - type: object
        properties:
          actionSetId:
            type: integer
            format: int64
            description: ID of the action set this action belongs to. For actionType 'actionSet', this contains the referenced action set ID
          pageFilter:
            type: string
            description: Page filter pattern for the action
    SequencedAction:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence number of the action
        id:
          type: integer
          format: int64
          readOnly: true
          description: ID of the action
        description:
          type: string
          description: 'Description of the action. Present for all actionTypes except: actionSet'
        actionType:
          type: string
          enum:
          - click
          - input
          - maskedinput
          - select
          - check
          - uncheck
          - enteriframe
          - navto
          - watch
          - clearcookies
          - execute
          - exitiframe
          - privacyoptin
          - privacyoptout
          - actionset
          description: Type of the user action
        waitDuration:
          type: integer
          description: 'Duration to wait in milliseconds. Present for actionTypes: navTo, click, input, select, check, uncheck, execute, watch, maskedInput, enterIFrame, exitIFrame, clearCookies, privacyOptIn, privacyOptOut'
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/WebActionSelector'
          description: 'List of selectors for element-based actions. Present for actionTypes: click, input, select, check, uncheck, maskedInput, enterIFrame'
        preventNavigation:
          type: boolean
          description: 'Whether to prevent navigation after action execution. Present for actionTypes: click, input, select, check, uncheck, execute, watch, maskedInput'
        value:
          type: string
          description: 'Value field with different meanings per actionType. For input/select: input value. For navTo: URL. For privacyOptIn/privacyOptOut: URL. For execute: JavaScript code. Present for actionTypes: input, select, navTo, privacyOptIn, privacyOptOut, execute'
        maskedValue:
          type: string
          description: 'Masked value for secure input actions. Present for actionType: maskedInput'
        js:
          type: string
          description: 'JavaScript code to execute. Present for actionType: execute'
        url:
          type: string
          description: 'URL for navigation and privacy actions. Present for actionTypes: navTo, privacyOptIn, privacyOptOut'
        seconds:
          type: integer
          description: 'Number of seconds to watch/wait. Present for actionType: watch'
        isRequired:
          type: boolean
          description: 'Whether privacy action is required. Present for actionTypes: privacyOptIn, privacyOptOut'
      required:
      - sequence
      - actionType
    WebActionSelectorType:
      type: string
      enum:
      - id
      - name
      - css
      - xpath
      - htmlattributes
  responses:
    Forbidden:
      description: You don't have enough rights to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
