openapi: 3.2.0
info:
  title: V3 Scheduled Exports API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: scheduled-exports
  x-displayName: Scheduled Exports
  description: Manage scheduled grid report data exports
paths:
  /v3/exports/scheduled:
    get:
      parameters:
      - name: search
        description: 'Return Scheduled Exports which contain the provided text in their name,

          schedule description, owner user name, or exported item name.

          '
        in: query
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: exportedItemType
        description: Return Scheduled Exports with specified exported item type.
        in: query
        required: false
        allowEmptyValue: false
        schema:
          $ref: '#/components/schemas/ScheduledExports_ExportedItemType'
      - name: exportedItemId
        description: 'Return Scheduled Exports for a specific exported item.

          Should be used together with `exportedItemType` parameter.

          '
        in: query
        required: false
        allowEmptyValue: false
        schema:
          $ref: '#/components/schemas/ScheduledExports_ExportedItemId'
      - name: size
        in: query
        required: false
        allowEmptyValue: false
        schema:
          type: integer
          maximum: 1000
          default: 50
          minimum: 50
      - name: sortBy
        in: query
        required: false
        allowEmptyValue: false
        schema:
          $ref: '#/components/schemas/ScheduledExports_SortColumn'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/SortDescendingParam'
      tags:
      - scheduled-exports
      operationId: getScheduledExports
      summary: Get Scheduled Exports
      responses:
        '200':
          description: Paginated list of Scheduled Exports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledExportListDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/responses-Forbidden'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/exports/scheduled</div>
    post:
      tags:
      - scheduled-exports
      operationId: createScheduledExport
      summary: Create scheduled export
      requestBody:
        description: Scheduled Export definition
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledExportRequestDTO'
      responses:
        '201':
          description: Created Scheduled Export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledExportDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/responses-Forbidden'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/exports/scheduled</div>
  /v3/exports/scheduled/{scheduledExportId}:
    parameters:
    - name: scheduledExportId
      in: path
      required: true
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/ScheduledExportId'
    get:
      tags:
      - scheduled-exports
      operationId: getScheduledExportById
      summary: Get specific Scheduled Export
      responses:
        '200':
          description: Scheduled Export definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledExportDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/responses-Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/exports/scheduled/<span class="op-path-parameter">{scheduledExportId}</span></div>
    put:
      tags:
      - scheduled-exports
      operationId: updateScheduledExportById
      summary: Update specific Scheduled Export
      requestBody:
        description: Scheduled Export definition
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledExportRequestDTO'
      responses:
        '200':
          description: Updated Scheduled Export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledExportDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/responses-Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-put">PUT</span> /v3/exports/scheduled/<span class="op-path-parameter">{scheduledExportId}</span></div>
    delete:
      tags:
      - scheduled-exports
      operationId: deleteScheduledExportById
      summary: Delete specific Scheduled Export
      responses:
        '204':
          description: Deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/responses-Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-delete">DELETE</span> /v3/exports/scheduled/<span class="op-path-parameter">{scheduledExportId}</span></div>
components:
  schemas:
    ScheduledExports_SortColumn:
      type: string
      enum:
      - name
      - schedule_description
      - schedule_is_paused
      - owner_user_name
      - exported_item_type
      - exported_item_name
      - is_editable
      - created_at
      - updated_at
    ScheduledExports_ReportLinkType:
      type: string
      enum:
      - public_link
      - regular_link
    ScheduledExports_ScheduleConfigWithDescription:
      allOf:
      - $ref: '#/components/schemas/ScheduledExports_ScheduleConfig'
      - type: object
        required:
        - description
        - presetType
        properties:
          description:
            type: string
            example: Every day
          presetType:
            type: string
            example: DAILY
          nextExportAt:
            $ref: '#/components/schemas/DateAndTime'
    User:
      type: object
      required:
      - id
      - userName
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        userName:
          type: string
    ScheduledExportDTO:
      allOf:
      - $ref: '#/components/schemas/ScheduledExports_CommonTrait'
      - type: object
        required:
        - id
        - schedule
        - exportedItemName
        - isEditable
        properties:
          id:
            $ref: '#/components/schemas/ScheduledExportId'
          createdAt:
            $ref: '#/components/schemas/DateAndTime'
          updatedAt:
            $ref: '#/components/schemas/DateAndTime'
          owner:
            $ref: '#/components/schemas/User'
          schedule:
            $ref: '#/components/schemas/ScheduledExports_ScheduleConfigWithDescription'
          exportedItemName:
            type: string
          isEditable:
            type: boolean
    ScheduledExports_CommonTrait:
      type: object
      required:
      - name
      - exportedItemType
      - exportedItemId
      - exportFileFormat
      - exportEmailConfig
      properties:
        name:
          type: string
        exportedItemType:
          $ref: '#/components/schemas/ScheduledExports_ExportedItemType'
        exportedItemId:
          $ref: '#/components/schemas/ScheduledExports_ExportedItemId'
        exportFileFormat:
          $ref: '#/components/schemas/ScheduledExports_ExportFileFormat'
        exportEmailConfig:
          $ref: '#/components/schemas/ScheduledExports_ExportEmailConfig'
        emails:
          type: array
          description: List of email addresses that will receive export email. If empty, no emails will be sent. If omitted, emails will not be changed (update only).
          items:
            $ref: '#/components/schemas/EmailAddress'
    EmailAddress:
      type: string
      format: email
      minLength: 3
      example: user@example.com
    ScheduledExports_ExportFileFormat:
      type: string
      enum:
      - csv
      - tsv
      - xlsx
    PaginationMetadata:
      type: object
      required:
      - totalCount
      - totalPageCount
      - pageSize
      - currentPageSize
      - currentPageNumber
      properties:
        totalCount:
          description: Total number of items available from all result pages combined
          type: integer
        totalPageCount:
          description: Total number of pages available
          type: integer
        pageSize:
          description: Page size - number of items per result page configured by `size` query parameter or default page size
          type: integer
        currentPageSize:
          description: Number of items in current result page
          type: integer
        currentPageNumber:
          description: Current page number/ordinal
          type: integer
    ScheduledExports_ExportedItemType:
      type: string
      enum:
      - saved_report
    ScheduledExports_ExportedItemId:
      type: integer
      format: int64
    CreateScheduledExportRequestDTO:
      allOf:
      - $ref: '#/components/schemas/ScheduledExports_CommonTrait'
      - type: object
        required:
        - schedule
        properties:
          schedule:
            $ref: '#/components/schemas/ScheduledExports_ScheduleConfig'
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    ScheduledExportId:
      type: integer
      format: int64
    CommonIterableResponseMetadata:
      description: Common metadata for iterable
      type: object
      required:
      - pagination
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    UserId:
      type: integer
      description: ID of a user
      example: 123
    DateAndTime:
      type: string
      format: date-time
      description: 'Date-time in [RFC3339 profile ISO 8601 format](https://www.ietf.org/rfc/rfc3339.txt) with

        the following additional restrictions:

        1. An uppercase T must separate the date and time portions.

        2. An uppercase Z must denote that a numeric time zone offset isn''t present.


        In general, these timestamp requirements are the same in

        [AWS Step Functions - Choice Rules](https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-choice-state.html)

        '
      example: '2016-08-18T17:33:00Z'
    ScheduledExportListDTO:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        scheduledExports:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledExportDTO'
    ScheduledExports_ScheduleConfig:
      type: object
      description: When and how often Scheduled Export will be run.
      required:
      - dtStart
      - recurrenceRule
      - tzId
      - isPaused
      properties:
        dtStart:
          type: string
          format: local-date-time
          description: Date of first desired start (if in range of recurrence rule).
          example: '2025-03-14T12:00:00'
        recurrenceRule:
          type: string
          description: An RFC-5545 (https://www.rfc-editor.org/rfc/rfc5545#appendix-A) compliant recurrence rule string.
          example: WKST=SU;FREQ=DAILY;INTERVAL=1
        tzId:
          type: string
          description: Timezone identifier compliant with tz database (ex. America/New_York). https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
          example: America/New_York
        isPaused:
          type: boolean
          description: Whether the schedule is paused or not.
        exceptions:
          description: List of dates to skip when scheduling. If empty or omitted, no dates will be skipped.
          type: array
          items:
            type: string
            format: local-date-time
            example: '2025-03-14T12:00:00'
    ScheduledExports_ExportEmailConfig:
      type: object
      description: Configuration for the email sent when export completes.
      required:
      - addExportFileAttachment
      properties:
        addExportFileAttachment:
          type: boolean
        customMessage:
          type: string
        reportLinkType:
          $ref: '#/components/schemas/ScheduledExports_ReportLinkType'
        suppressEmailWhenNoData:
          type: boolean
          default: false
  parameters:
    pageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Page number, starts with 0
    SortDescendingParam:
      name: sortDesc
      in: query
      description: Controls sorting order
      required: false
      schema:
        type: boolean
        default: false
  responses:
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    responses-Forbidden:
      description: You don't have enough rights to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
