openapi: 3.2.0
info:
  title: V3 Action Set Actions API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: action-set-actions
  x-displayName: Action Set Actions
  description: APIs for managing Action Set Actions
paths:
  /v3/action-sets/{actionSetId}/actions/{actionId}:
    get:
      tags:
      - action-set-actions
      summary: Get action set action
      description: '<div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/action-sets/<span class="op-path-parameter">{actionSetId}</span>/actions/<span class="op-path-parameter">{actionId}</span></div>


        Retrieve a specific action from an action set'
      operationId: getActionSetAction
      parameters:
      - name: actionSetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID of the action set
      - name: actionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID of the action to retrieve
      responses:
        '200':
          description: Action retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSetActionDto'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
    put:
      tags:
      - action-set-actions
      summary: Update action set action
      description: '<div class="op-path-box"><span class="op-http-method-put">PUT</span> /v3/action-sets/<span class="op-path-parameter">{actionSetId}</span>/actions/<span class="op-path-parameter">{actionId}</span></div>


        Update a specific action in an action set'
      operationId: updateActionSetAction
      parameters:
      - name: actionSetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID of the action set
      - name: actionId
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: ID of the action to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionSetActionDto'
      responses:
        '200':
          description: Action updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionSetActionDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    WebActionSelector:
      type: object
      properties:
        selectorType:
          $ref: '#/components/schemas/WebActionSelectorType'
        value:
          description: Selector value - string for simple selectors (CSS, XPath, id, name) or AttributeSelectorValue object for htmlattributes selector type
      required:
      - selectorType
      - value
    ActionSetActionDto:
      allOf:
      - $ref: '#/components/schemas/SequencedAction'
      - type: object
        properties:
          actionSetId:
            type: integer
            format: int64
            description: ID of the action set this action belongs to. For actionType 'actionSet', this contains the referenced action set ID
          pageFilter:
            type: string
            description: Page filter pattern for the action
    SequencedAction:
      type: object
      properties:
        sequence:
          type: integer
          description: Sequence number of the action
        id:
          type: integer
          format: int64
          readOnly: true
          description: ID of the action
        description:
          type: string
          description: 'Description of the action. Present for all actionTypes except: actionSet'
        actionType:
          type: string
          enum:
          - click
          - input
          - maskedinput
          - select
          - check
          - uncheck
          - enteriframe
          - navto
          - watch
          - clearcookies
          - execute
          - exitiframe
          - privacyoptin
          - privacyoptout
          - actionset
          description: Type of the user action
        waitDuration:
          type: integer
          description: 'Duration to wait in milliseconds. Present for actionTypes: navTo, click, input, select, check, uncheck, execute, watch, maskedInput, enterIFrame, exitIFrame, clearCookies, privacyOptIn, privacyOptOut'
        selectors:
          type: array
          items:
            $ref: '#/components/schemas/WebActionSelector'
          description: 'List of selectors for element-based actions. Present for actionTypes: click, input, select, check, uncheck, maskedInput, enterIFrame'
        preventNavigation:
          type: boolean
          description: 'Whether to prevent navigation after action execution. Present for actionTypes: click, input, select, check, uncheck, execute, watch, maskedInput'
        value:
          type: string
          description: 'Value field with different meanings per actionType. For input/select: input value. For navTo: URL. For privacyOptIn/privacyOptOut: URL. For execute: JavaScript code. Present for actionTypes: input, select, navTo, privacyOptIn, privacyOptOut, execute'
        maskedValue:
          type: string
          description: 'Masked value for secure input actions. Present for actionType: maskedInput'
        js:
          type: string
          description: 'JavaScript code to execute. Present for actionType: execute'
        url:
          type: string
          description: 'URL for navigation and privacy actions. Present for actionTypes: navTo, privacyOptIn, privacyOptOut'
        seconds:
          type: integer
          description: 'Number of seconds to watch/wait. Present for actionType: watch'
        isRequired:
          type: boolean
          description: 'Whether privacy action is required. Present for actionTypes: privacyOptIn, privacyOptOut'
      required:
      - sequence
      - actionType
    WebActionSelectorType:
      type: string
      enum:
      - id
      - name
      - css
      - xpath
      - htmlattributes
  responses:
    Forbidden:
      description: You don't have enough rights to access this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
