openapi: 3.2.0
info:
  title: V3 Tag Inventory Report API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: tag-inventory-report
  x-displayName: Tag Inventory Report
  description: Tag Inventory report endpoints
paths:
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-inventory:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    post:
      tags:
      - tag-inventory-report
      summary: Get Tag Inventory summary for specified audit run
      operationId: getAuditRunTagInventorySummary
      requestBody:
        description: Filters applicable to Tag Inventory report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagInventory_RequestDTO'
      responses:
        '200':
          description: Tag Inventory summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagInventory_SummaryDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-inventory</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-inventory/tag-categories:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    post:
      tags:
      - tag-inventory-report
      summary: Get Tag Inventory tag categories summary for specified audit run
      operationId: getAuditRunTagInventoryTagCategories
      requestBody:
        description: Filters applicable to Tag Inventory report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagInventory_RequestDTO'
      responses:
        '200':
          description: Tag Inventory tag categories summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagInventory_TagCategoriesSummaryDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-inventory/tag-categories</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-inventory/trends:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    get:
      tags:
      - tag-inventory-report
      summary: Get Tag Inventory trends relative to specified audit run
      operationId: getAuditRunTagInventoryTrends
      responses:
        '200':
          description: Tag Inventory trends data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagInventory_TrendsDTO'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-inventory/trends</div>
  /v3/web-audits/{auditId}/reports/tag-inventory/trends/{trendName}:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - name: trendName
      in: path
      required: true
      description: name of requested trend
      schema:
        $ref: '#/components/schemas/AuditRun_TagInventory_TrendsEnum'
    - $ref: '#/components/parameters/AuditRun_Trends_DaysParam'
    get:
      tags:
      - tag-inventory-report
      summary: Get Tag Inventory specific trend values relative to current time
      operationId: getAuditRunTagInventoryTrend
      responses:
        '200':
          description: Tag Inventory specific trend values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemRun_SpecificTrendValuesDTO'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/reports/tag-inventory/trends/<span class="op-path-parameter">{trendName}</span></div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-inventory/tags:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    post:
      tags:
      - tag-inventory-report
      summary: Get Tag Inventory tag presence for specified audit run
      operationId: getAuditRunTagInventoryTagPresence
      requestBody:
        description: Filters applicable to Tag Inventory report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagInventory_RequestDTO'
      responses:
        '200':
          description: Tag Inventory tag presence data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagInventory_TagPresenceDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-inventory/tags</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-inventory/tags/{tagId}/accounts:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    - $ref: '#/components/parameters/TagId'
    - $ref: '#/components/parameters/pageParam'
    - $ref: '#/components/parameters/AuditRun_TagAccountList_PageSizeParam'
    post:
      tags:
      - tag-inventory-report
      summary: Get Tag Inventory tag accounts presence for specified audit run
      operationId: getAuditRunTagInventoryTagAccountPresence
      requestBody:
        description: Filters applicable to Tag Inventory report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagInventory_FilteredRequestDTO'
      responses:
        '200':
          description: Tag Inventory specific tag accounts presence data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagInventory_TagAccountPresenceDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-inventory/tags/<span class="op-path-parameter">{tagId}</span>/accounts</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-inventory/pages:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    - $ref: '#/components/parameters/pageParam'
    - $ref: '#/components/parameters/AuditRun_PagesList_PageSizeParam'
    - $ref: '#/components/parameters/AuditRun_TagInventory_PagesSortParam'
    - $ref: '#/components/parameters/SortDescendingParam'
    post:
      tags:
      - tag-inventory-report
      summary: Get Tag Inventory page info for specified audit run
      operationId: getAuditRunTagInventoryPages
      requestBody:
        description: Filters applicable to Tag Inventory report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagInventory_RequestDTO'
      responses:
        '200':
          description: Tag Inventory page tag presence data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagInventory_PagesDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-inventory/pages</div>
components:
  schemas:
    AuditRun_TagInventory_PagesSortColumn:
      type: string
      enum:
      - page_url
      - final_page_url
      - page_load_time
      - page_status_code
      - final_page_status_code
      - tag_instance_count
      - unique_tag_count
      - broken_tag_count
    AuditRun_TagInventory_PagesWithoutTag:
      type: object
      required:
      - tagId
      properties:
        tagId:
          $ref: '#/components/schemas/TagId'
        tagAccount:
          $ref: '#/components/schemas/TagAccount'
    PageUrlFilterEnum:
      type: string
      enum:
      - contains
      - regex
    AuditId:
      type: integer
      format: int64
      example: 107239
    PageId:
      type: string
      example: f9d32cc7cc2046d6decb145a80289287f5226323
    AuditRun_TagInventory_TagPresenceDTO:
      description: '`Pages With & Without Tags` data'
      type: object
      required:
      - tags
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_TagInventory_TagPresence_TagItem'
    PageStatusCode:
      type: integer
      description: Page HTTP status code
    AuditRun_TagInventory_TrendsItem:
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.ItemRunTrendsItemTraitInterface
      allOf:
      - $ref: '#/components/schemas/ItemRunTrendsItemTrait'
      - type: object
        required:
        - totalBrokenPageCount
        - totalUniqueTagCount
        - totalBrokenTagCount
        properties:
          totalBrokenPageCount:
            type: integer
            description: Total number of broken pages
          totalUniqueTagCount:
            type: integer
            description: Total number of unique tag vendors discovered
          totalBrokenTagCount:
            type: integer
            description: Total number of broken tag requests (0, 400+ or 500+ HTTP status code)
    AuditRunPageTrait:
      description: Common trait for audit page with mandatory page properties
      type: object
      required:
      - pageId
      - pageUrl
      properties:
        pageId:
          $ref: '#/components/schemas/PageId'
        pageUrl:
          $ref: '#/components/schemas/PageUrl'
    IntegerFilterTypeEnum:
      type: string
      enum:
      - specific
      - range
    ItemRun_SpecificTrendValuesDTO:
      type: object
      required:
      - runs
      properties:
        runs:
          type: array
          items:
            $ref: '#/components/schemas/ItemRun_SpecificTrendValueItem'
    AuditRun_TagInventory_RequestDTO:
      description: 'Request body with filters for Tag Inventory report.

        If `initialPageStatusCode` and `pageStatusCode` filters provided, `pageStatusCode` will be ignored.

        `pagesWithoutTagId` replaces `missingTag` filter,

        `pagesWithoutTagCategoryId` replaces `missingTagCategory`,

        `pagesWithoutTagVendorId` replaces `missingTagVendor`.

        '
      allOf:
      - $ref: '#/components/schemas/PageFiltersTrait'
      - type: object
        properties:
          pageStatusCode:
            $ref: '#/components/schemas/StatusCodeEnum'
          primaryTagsOnly:
            type: boolean
            description: if true then return only pages/tags with primary tags else return all pages/tags
          tagId:
            $ref: '#/components/schemas/TagId'
          tagCategoryId:
            $ref: '#/components/schemas/TagCategoryId'
          tagVendorId:
            $ref: '#/components/schemas/TagVendorId'
          tagAccount:
            $ref: '#/components/schemas/TagAccount'
          pagesWithoutTagId:
            deprecated: true
            type: integer
            description: Deprecated in favour of `pagesWithoutTag`
          pagesWithoutTagCategoryId:
            $ref: '#/components/schemas/TagCategoryId'
          pagesWithoutTagVendorId:
            $ref: '#/components/schemas/TagVendorId'
          pagesWithoutTag:
            $ref: '#/components/schemas/AuditRun_TagInventory_PagesWithoutTag'
    ItemRunTrendsItemTrait:
      type: object
      required:
      - runId
      - completedAt
      properties:
        runId:
          $ref: '#/components/schemas/RunId'
        completedAt:
          $ref: '#/components/schemas/DateAndTime'
    TagId:
      type: integer
      description: Tag ID
    AuditRun_TagInventory_TagPresence_TagItem:
      allOf:
      - $ref: '#/components/schemas/TagInfoTrait'
      - $ref: '#/components/schemas/AuditRun_TagInventory_TagPresenceItemTrait'
      - type: object
        required:
        - filteredTagAccountCount
        properties:
          filteredTagAccountCount:
            type: integer
            description: Number of accounts of a tag passing all applied filters
    PageUrlFilter:
      type: object
      required:
      - filterType
      - filterValue
      properties:
        filterType:
          $ref: '#/components/schemas/PageUrlFilterEnum'
        filterValue:
          type: string
          minLength: 1
        negated:
          type: boolean
          description: Switches from "contains" to "not contains", and from "matches regex" to "does not match regex". Supported only by Page Summary for now
          default: false
    AuditRun_TagInventory_PagesItem:
      allOf:
      - $ref: '#/components/schemas/AuditRunPageCommonColumnsWithFinalValuesTrait'
      - type: object
        required:
        - tagInstanceCount
        - uniqueTagCount
        - brokenTagCount
        properties:
          tagInstanceCount:
            type: integer
            description: Number of tag requests on a page
          uniqueTagCount:
            type: integer
            description: Number of unique tag vendors discovered on a page
          brokenTagCount:
            type: integer
            description: Number of broken tag requests on a page
    IntegerRangeFilterTrait:
      type: object
      description: Common trait for integer min max filter
      properties:
        min:
          type: integer
          minimum: 0
        max:
          type: integer
    PageRedirectCountFilter:
      description: Number of redirects for a page. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/IntegerRangeFilterTrait'
    AuditRun_TagInventory_TagPresenceItemTrait:
      type: object
      required:
      - tagPresentPageCount
      - tagAbsentPageCount
      properties:
        tagPresentPageCount:
          type: integer
          description: Total number of pages with the tag/account
        tagAbsentPageCount:
          type: integer
          description: Total number of pages without tag/account
    TagVendorId:
      type: integer
      description: Tag vendor ID
    AuditRun_TagInventory_FilteredRequestDTO:
      description: 'Request body for Tag Inventory report with filters present in path removed

        If `initialPageStatusCode` and `pageStatusCode` filters provided, `pageStatusCode` will be ignored.

        `pagesWithoutTagId` replaces `missingTag` filter,

        `pagesWithoutTagCategoryId` replaces `missingTagCategory`,

        `pagesWithoutTagVendorId` replaces `missingTagVendor`.

        '
      allOf:
      - $ref: '#/components/schemas/PageFiltersTrait'
      - type: object
        properties:
          pageStatusCode:
            $ref: '#/components/schemas/StatusCodeEnum'
          tagAccount:
            $ref: '#/components/schemas/TagAccount'
          pagesWithoutTagId:
            $ref: '#/components/schemas/TagId'
          pagesWithoutTagCategoryId:
            $ref: '#/components/schemas/TagCategoryId'
          pagesWithoutTagVendorId:
            $ref: '#/components/schemas/TagVendorId'
    AuditRunPageCommonColumnsWithFinalValuesTrait:
      description: Trait for audit page with final URL and final status code
      allOf:
      - $ref: '#/components/schemas/AuditRunPageCommonColumnsTrait'
      - type: object
        properties:
          finalPageUrl:
            $ref: '#/components/schemas/PageUrl'
          finalPageStatusCode:
            $ref: '#/components/schemas/PageStatusCode'
    PaginationMetadata:
      type: object
      required:
      - totalCount
      - totalPageCount
      - pageSize
      - currentPageSize
      - currentPageNumber
      properties:
        totalCount:
          description: Total number of items available from all result pages combined
          type: integer
        totalPageCount:
          description: Total number of pages available
          type: integer
        pageSize:
          description: Page size - number of items per result page configured by `size` query parameter or default page size
          type: integer
        currentPageSize:
          description: Number of items in current result page
          type: integer
        currentPageNumber:
          description: Current page number/ordinal
          type: integer
    PageFiltersTrait:
      type: object
      description: Common trait for page filters
      properties:
        pageUrl:
          $ref: '#/components/schemas/PageUrlFilter'
        finalPageUrl:
          $ref: '#/components/schemas/PageUrlFilter'
        pageTitle:
          $ref: '#/components/schemas/PageTitleFilter'
        initialPageStatusCode:
          $ref: '#/components/schemas/IntegerFilter'
        finalPageStatusCode:
          $ref: '#/components/schemas/IntegerFilter'
        combinedPageStatusCode:
          $ref: '#/components/schemas/CombinedPageStatusCodeEnum'
        pageLoadTime:
          $ref: '#/components/schemas/PageLoadTimeFilter'
        pageSize:
          $ref: '#/components/schemas/PageSizeFilter'
        redirectCount:
          $ref: '#/components/schemas/PageRedirectCountFilter'
        hasBrokenLinks:
          type: boolean
    AuditRun_TagInventory_TagCategoriesSummaryDTO:
      type: object
      required:
      - tagCategories
      properties:
        tagCategories:
          type: array
          description: All tag categories discovered. Not affected by `tagCategoryId` filter
          items:
            $ref: '#/components/schemas/AuditRun_TagInventory_TagCategoryItem'
    PageUrl:
      type: string
      format: url
      example: https://example.com/about
    StatusCodeEnum:
      description: good - 2xx, redirects - 3xx, broken - all others
      deprecated: true
      type: string
      enum:
      - good
      - redirects
      - broken
    CombinedPageStatusCodeEnum:
      type: string
      description: '- `broken` - initial or final URL are `broken`,

        - `good` - initial URL is `good` or `redirect` and final URL is `good`

        '
      enum:
      - broken
      - good
    AuditRun_TagInventory_TrendsEnum:
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.TrendEnumCompatibleWithRunsGrid
      type: string
      enum:
      - unique_tags
      - broken_tags
      - broken_pages
    ItemRun_SpecificTrendValueItem:
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.ItemRunTrendsItemTraitInterface
      allOf:
      - $ref: '#/components/schemas/ItemRunTrendsItemTrait'
      - type: object
        required:
        - trendValue
        properties:
          trendValue:
            type: number
    RunId:
      type: integer
      format: int64
      example: 33010
    AuditRunPageCommonColumnsTrait:
      description: Trait for audit page with common page properties
      allOf:
      - $ref: '#/components/schemas/AuditRunPageTrait'
      - type: object
        required:
        - pageLoadTime
        - pageStatusCode
        properties:
          pageLoadTime:
            $ref: '#/components/schemas/PageLoadTime'
          pageStatusCode:
            $ref: '#/components/schemas/PageStatusCode'
    PageSizeFilter:
      description: Page size in bytes. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/LongIntegerRangeFilterTrait'
    AuditRun_TagInventory_TagAccountsPresenceItem:
      allOf:
      - $ref: '#/components/schemas/AuditRun_TagInventory_TagPresenceItemTrait'
      - type: object
        required:
        - tagAccount
        properties:
          tagAccount:
            $ref: '#/components/schemas/TagAccount'
    AuditRun_TagInventory_PagesDTO:
      description: Tag Inventory pages list data
      type: object
      required:
      - metadata
      - pages
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        pages:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_TagInventory_PagesItem'
    AuditRun_TagInventory_SummaryDTO:
      description: Tag Inventory report summary
      type: object
      required:
      - totalPageCount
      - filteredPageCount
      - filteredBrokenPageCount
      - filteredUniqueTagCount
      - filteredBrokenTagCount
      - totalTagInstanceCount
      properties:
        totalPageCount:
          type: integer
          description: Total number of pages audited
        filteredPageCount:
          type: integer
          description: Number of pages passing all applied filters
        filteredBrokenPageCount:
          type: integer
          description: Number of broken pages passing all applied filters
        filteredUniqueTagCount:
          type: integer
          description: Number of unique tag vendors passing all applied filters
        filteredBrokenTagCount:
          type: integer
          description: Number of broken tag requests (0, 400+ or 500+ HTTP status code) passing all applied filters
        totalTagInstanceCount:
          type: integer
          description: Total number of tag requests discovered
    AuditRun_TagInventory_TrendsDTO:
      description: Tag Inventory trends overview (a.k.a. trendlines a.k.a. sparklines)
      type: object
      required:
      - runs
      properties:
        runs:
          type: array
          maxItems: 5
          items:
            $ref: '#/components/schemas/AuditRun_TagInventory_TrendsItem'
    AuditRun_TagInventory_TagCategoryItem:
      type: object
      required:
      - tagCategoryId
      - totalTagInstanceCount
      - tagFilterStatus
      properties:
        tagCategoryId:
          $ref: '#/components/schemas/TagCategoryId'
        totalTagInstanceCount:
          type: integer
          description: Number of instances of tags from this category
        tagFilterStatus:
          type: boolean
          description: True if this tag category had tag instances that met any of the tag filter criteria
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    TagName:
      type: string
      description: Tag name
    PageLoadTime:
      type: integer
      description: Time page took to load, in milliseconds
    CommonIterableResponseMetadata:
      description: Common metadata for iterable
      type: object
      required:
      - pagination
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    TagCategoryId:
      type: integer
      description: Tag category ID
    DateAndTime:
      type: string
      format: date-time
      description: 'Date-time in [RFC3339 profile ISO 8601 format](https://www.ietf.org/rfc/rfc3339.txt) with

        the following additional restrictions:

        1. An uppercase T must separate the date and time portions.

        2. An uppercase Z must denote that a numeric time zone offset isn''t present.


        In general, these timestamp requirements are the same in

        [AWS Step Functions - Choice Rules](https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-choice-state.html)

        '
      example: '2016-08-18T17:33:00Z'
    AuditRun_TagInventory_TagAccountPresenceDTO:
      type: object
      required:
      - metadata
      - tagAccounts
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        tagAccounts:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_TagInventory_TagAccountsPresenceItem'
    LongIntegerRangeFilterTrait:
      type: object
      description: Common trait for long integer min max filter
      properties:
        min:
          type: integer
          format: int64
          minimum: 0
        max:
          type: integer
          format: int64
    StringInclusionFilterTypeEnum:
      type: string
      enum:
      - contains
      - not_contains
    TagCategoryName:
      type: string
      description: Name of a category of a tag
    PageLoadTimeFilter:
      description: Page load time in milliseconds. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/IntegerRangeFilterTrait'
    TagAccount:
      type: string
      description: Tag account
    PageTitleFilter:
      type: object
      required:
      - filterType
      - filterValue
      properties:
        filterType:
          $ref: '#/components/schemas/StringInclusionFilterTypeEnum'
        filterValue:
          type: string
          description: Page title as displayed by browser
          minLength: 1
          example: ObserveP
    TagInfoTrait:
      type: object
      description: Common tag info
      required:
      - tagId
      - tagName
      - tagCategoryId
      - tagCategoryName
      properties:
        tagId:
          $ref: '#/components/schemas/TagId'
        tagName:
          $ref: '#/components/schemas/TagName'
        tagCategoryId:
          $ref: '#/components/schemas/TagCategoryId'
        tagCategoryName:
          $ref: '#/components/schemas/TagCategoryName'
    IntegerFilter:
      type: object
      required:
      - filterType
      - negated
      properties:
        filterType:
          $ref: '#/components/schemas/IntegerFilterTypeEnum'
        negated:
          type: boolean
          description: Switches from `==` to `!=`, and from `between [minInclusive, maxExclusive)` to `NOT between [minInclusive, maxExclusive)`
      discriminator:
        propertyName: filterType
        mapping:
          specific: '#/components/schemas/SpecificIntegerFilter'
          range: '#/components/schemas/IntegerRangeFilter'
  parameters:
    TagId:
      name: tagId
      in: path
      required: true
      description: Tag ID
      schema:
        $ref: '#/components/schemas/TagId'
    AuditRun_Trends_DaysParam:
      name: days
      in: query
      required: true
      schema:
        type: integer
        description: Number of days to get trend values for, relative to current time
        maximum: 390
        minimum: 1
    AuditId:
      name: auditId
      in: path
      required: true
      description: Unique identification number for web audit
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/AuditId'
    AuditRun_PagesList_PageSizeParam:
      in: query
      name: size
      required: false
      schema:
        type: integer
        maximum: 1000
        default: 50
        minimum: 50
    AuditRun_TagAccountList_PageSizeParam:
      in: query
      name: size
      required: false
      schema:
        type: integer
        maximum: 1000
        default: 100
        minimum: 100
    pageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Page number, starts with 0
    RunId:
      name: runId
      in: path
      required: true
      description: Unique identification number for web audit or journey run
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/RunId'
    SortDescendingParam:
      name: sortDesc
      in: query
      description: Controls sorting order
      required: false
      schema:
        type: boolean
        default: false
    AuditRun_TagInventory_PagesSortParam:
      name: sortBy
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/AuditRun_TagInventory_PagesSortColumn'
  responses:
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
