openapi: 3.2.0
info:
  title: V3 Tag Duplicates And Multiples Report API
  description: This section documents the V3 API endpoints that provide access to comprehensive audit and journey data from ObservePoint. Use these endpoints to retrieve detailed reports, export data, manage alerts, configure scans and privacy settings, and analyze web performance metrics from your ObservePoint scans.
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
servers:
- url: https://api.observepoint.com
  description: ObservePoint Production API
tags:
- name: tag-duplicates-and-multiples-report
  x-displayName: Tag Duplicates and Multiples Report
  description: Tag Duplicates and Multiples report endpoints
paths:
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-duplicates-and-multiples:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    post:
      tags:
      - tag-duplicates-and-multiples-report
      summary: Get Tag Duplicates & Multiples summary for specified audit run
      operationId: getAuditRunTagDuplicatesAndMultiplesSummary
      requestBody:
        description: Filters applicable to Tag Duplicates & Multiples report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_RequestDTO'
      responses:
        '200':
          description: Tag Duplicates & Multiples summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_SummaryDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-duplicates-and-multiples</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-duplicates-and-multiples/trends:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    get:
      tags:
      - tag-duplicates-and-multiples-report
      summary: Get Tag Duplicates & Multiples trends relative to specified audit run
      operationId: getAuditRunTagDuplicatesAndMultiplesTrends
      responses:
        '200':
          description: Tag Duplicates & Multiples trends data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TrendsDTO'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-duplicates-and-multiples/trends</div>
  /v3/web-audits/{auditId}/reports/tag-duplicates-and-multiples/trends/{trendName}:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - name: trendName
      in: path
      required: true
      description: name of requested trend
      schema:
        $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TrendsEnum'
    - $ref: '#/components/parameters/AuditRun_Trends_DaysParam'
    get:
      tags:
      - tag-duplicates-and-multiples-report
      summary: Get Tag Duplicates & Multiples specific trend values relative to current date
      operationId: getAuditRunTagDuplicatesAndMultiplesTrend
      responses:
        '200':
          description: Tag Duplicates & Multiples specific trend data relative to current date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemRun_SpecificTrendValuesDTO'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/reports/tag-duplicates-and-multiples/trends/<span class="op-path-parameter">{trendName}</span></div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-duplicates-and-multiples/tags:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    post:
      tags:
      - tag-duplicates-and-multiples-report
      summary: Get Tag Duplicates & Multiples all tags data for specified audit run
      operationId: getAuditRunTagDuplicatesAndMultiplesSummaryTags
      requestBody:
        description: Filters applicable to Tag Duplicates & Multiples report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_RequestDTO'
      responses:
        '200':
          description: Tag Duplicates & Multiples all tags data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TagsDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-duplicates-and-multiples/tags</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-duplicates-and-multiples/tags/{tagId}/accounts:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    - $ref: '#/components/parameters/TagId'
    - $ref: '#/components/parameters/pageParam'
    - $ref: '#/components/parameters/AuditRun_TagAccountList_PageSizeParam'
    - name: sortBy
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TagAccountsSortColumn'
    - $ref: '#/components/parameters/SortDescendingParam'
    post:
      tags:
      - tag-duplicates-and-multiples-report
      summary: Get Tag Duplicates & Multiples tag accounts for specified audit run
      operationId: getAuditRunTagDuplicatesAndMultiplesSummaryTagAccounts
      requestBody:
        description: Filters applicable to Tag Duplicates & Multiples report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_FilteredRequestDTO'
      responses:
        '200':
          description: Tag Duplicates & Multiples summary data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TagAccountsDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-duplicates-and-multiples/tags/<span class="op-path-parameter">{tagId}</span>/accounts</div>
  /v3/web-audits/{auditId}/runs/{runId}/reports/tag-duplicates-and-multiples/pages:
    parameters:
    - $ref: '#/components/parameters/AuditId'
    - $ref: '#/components/parameters/RunId'
    - $ref: '#/components/parameters/pageParam'
    - $ref: '#/components/parameters/AuditRun_PagesList_PageSizeParam'
    - $ref: '#/components/parameters/AuditRun_TagDuplicatesAndMultiples_PagesSortParam'
    - $ref: '#/components/parameters/SortDescendingParam'
    post:
      tags:
      - tag-duplicates-and-multiples-report
      summary: Get Tag Duplicates & Multiples pages for specified audit run
      operationId: getAuditRunTagDuplicatesAndMultiplesPages
      requestBody:
        description: Filters applicable to Tag Duplicates & Multiples report
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_PagesRequestDTO'
      responses:
        '200':
          description: Tag Duplicates & Multiples page data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_PagesDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - API_Key: []
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v3/web-audits/<span class="op-path-parameter">{auditId}</span>/runs/<span class="op-path-parameter">{runId}</span>/reports/tag-duplicates-and-multiples/pages</div>
components:
  schemas:
    AuditRun_TagDuplicatesAndMultiples_TagsItemTrait:
      type: object
      required:
      - filteredTagDuplicateCount
      - filteredTagDuplicatePageCount
      - filteredTagMultipleCount
      - filteredTagMultiplePageCount
      - filteredTagInstanceCount
      properties:
        filteredTagDuplicateCount:
          type: integer
        filteredTagDuplicatePageCount:
          type: integer
          description: Number of pages containing duplicate tag requests passing all applied filters
        filteredTagMultipleCount:
          type: integer
        filteredTagMultiplePageCount:
          type: integer
          description: Number of pages containing "multiple" tag requests passing all applied filters
        filteredTagInstanceCount:
          type: integer
          description: Number of tag requests passing all applied filters
    AuditRun_TagDuplicatesAndMultiples_RequestDTO:
      description: Request body with filters for Tag Duplicates & Multiples report
      type: object
      allOf:
      - $ref: '#/components/schemas/PageFiltersTrait'
      - type: object
        properties:
          primaryTagsOnly:
            type: boolean
            description: if true then return only pages/tags with primary tags else return all pages/tags
          tagId:
            $ref: '#/components/schemas/TagId'
          tagCategoryId:
            $ref: '#/components/schemas/TagCategoryId'
          tagVendorId:
            $ref: '#/components/schemas/TagVendorId'
          tagAccount:
            $ref: '#/components/schemas/TagAccount'
    PageUrlFilterEnum:
      type: string
      enum:
      - contains
      - regex
    AuditRun_TagDuplicatesAndMultiples_TrendsEnum:
      type: string
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.TrendEnumCompatibleWithRunsGrid
      enum:
      - unique_tags
      - tag_requests
      - tag_duplicates
      - tag_multiples
    AuditId:
      type: integer
      format: int64
      example: 107239
    AuditRun_TagDuplicatesAndMultiples_SummaryDTO:
      type: object
      required:
      - totalPageCount
      - filteredPageCount
      - filteredUniqueTagCount
      - totalTagInstanceCount
      - filteredTagInstanceCount
      - filteredTagDuplicateCount
      - filteredTagMultipleCount
      properties:
        totalPageCount:
          type: integer
          description: Total number of pages audited
        filteredPageCount:
          type: integer
          description: Number of pages passing all applied filters
        filteredUniqueTagCount:
          type: integer
          description: Number of unique tag vendors passing all applied filters
        totalTagInstanceCount:
          type: integer
          description: Total number of tag requests discovered
        filteredTagInstanceCount:
          type: integer
          description: Number of tag requests passing all applied filters
        filteredTagDuplicateCount:
          type: integer
          description: Number of duplicate tag requests passing all applied filters
        filteredTagMultipleCount:
          type: integer
          description: Number of tag request instances that are not exact copies of each other and have the same account
    AuditRun_TagDuplicatesAndMultiples_TrendItem:
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.ItemRunTrendsItemTraitInterface
      allOf:
      - $ref: '#/components/schemas/ItemRunTrendsItemTrait'
      - type: object
        required:
        - totalUniqueTagCount
        - totalTagInstanceCount
        - totalTagDuplicateCount
        - totalTagMultipleCount
        properties:
          totalUniqueTagCount:
            type: integer
          totalTagInstanceCount:
            type: integer
          totalTagDuplicateCount:
            type: integer
          totalTagMultipleCount:
            type: integer
    PageId:
      type: string
      example: f9d32cc7cc2046d6decb145a80289287f5226323
    PageStatusCode:
      type: integer
      description: Page HTTP status code
    AuditRunPageTrait:
      description: Common trait for audit page with mandatory page properties
      type: object
      required:
      - pageId
      - pageUrl
      properties:
        pageId:
          $ref: '#/components/schemas/PageId'
        pageUrl:
          $ref: '#/components/schemas/PageUrl'
    IntegerFilterTypeEnum:
      type: string
      enum:
      - specific
      - range
    AuditRun_TagDuplicatesAndMultiples_PagesRequestDTO:
      allOf:
      - $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_RequestDTO'
      - type: object
        properties:
          finalPageUrl:
            $ref: '#/components/schemas/PageUrlFilter'
          initialPageStatusCode:
            $ref: '#/components/schemas/IntegerFilter'
          finalPageStatusCode:
            $ref: '#/components/schemas/IntegerFilter'
          type:
            type: string
            enum:
            - tag_duplicates
            - tag_multiples
    ItemRun_SpecificTrendValuesDTO:
      type: object
      required:
      - runs
      properties:
        runs:
          type: array
          items:
            $ref: '#/components/schemas/ItemRun_SpecificTrendValueItem'
    ItemRunTrendsItemTrait:
      type: object
      required:
      - runId
      - completedAt
      properties:
        runId:
          $ref: '#/components/schemas/RunId'
        completedAt:
          $ref: '#/components/schemas/DateAndTime'
    TagId:
      type: integer
      description: Tag ID
    PageUrlFilter:
      type: object
      required:
      - filterType
      - filterValue
      properties:
        filterType:
          $ref: '#/components/schemas/PageUrlFilterEnum'
        filterValue:
          type: string
          minLength: 1
        negated:
          type: boolean
          description: Switches from "contains" to "not contains", and from "matches regex" to "does not match regex". Supported only by Page Summary for now
          default: false
    IntegerRangeFilterTrait:
      type: object
      description: Common trait for integer min max filter
      properties:
        min:
          type: integer
          minimum: 0
        max:
          type: integer
    AuditRun_TagDuplicatesAndMultiples_TagAccountsItem:
      allOf:
      - $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TagsItemTrait'
      - type: object
        required:
        - tagAccount
        properties:
          tagAccount:
            $ref: '#/components/schemas/TagAccount'
    PageRedirectCountFilter:
      description: Number of redirects for a page. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/IntegerRangeFilterTrait'
    TagVendorId:
      type: integer
      description: Tag vendor ID
    AuditRunPageCommonColumnsWithFinalValuesTrait:
      description: Trait for audit page with final URL and final status code
      allOf:
      - $ref: '#/components/schemas/AuditRunPageCommonColumnsTrait'
      - type: object
        properties:
          finalPageUrl:
            $ref: '#/components/schemas/PageUrl'
          finalPageStatusCode:
            $ref: '#/components/schemas/PageStatusCode'
    AuditRun_TagDuplicatesAndMultiples_FilteredRequestDTO:
      description: Request body with filters for Tag Duplicates & Multiples report with filters present in path removed
      type: object
      allOf:
      - $ref: '#/components/schemas/PageFiltersTrait'
      - type: object
        properties:
          tagAccount:
            $ref: '#/components/schemas/TagAccount'
    PaginationMetadata:
      type: object
      required:
      - totalCount
      - totalPageCount
      - pageSize
      - currentPageSize
      - currentPageNumber
      properties:
        totalCount:
          description: Total number of items available from all result pages combined
          type: integer
        totalPageCount:
          description: Total number of pages available
          type: integer
        pageSize:
          description: Page size - number of items per result page configured by `size` query parameter or default page size
          type: integer
        currentPageSize:
          description: Number of items in current result page
          type: integer
        currentPageNumber:
          description: Current page number/ordinal
          type: integer
    AuditRun_TagDuplicatesAndMultiples_TagsDTO:
      type: object
      required:
      - tags
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TagsItem'
    PageFiltersTrait:
      type: object
      description: Common trait for page filters
      properties:
        pageUrl:
          $ref: '#/components/schemas/PageUrlFilter'
        finalPageUrl:
          $ref: '#/components/schemas/PageUrlFilter'
        pageTitle:
          $ref: '#/components/schemas/PageTitleFilter'
        initialPageStatusCode:
          $ref: '#/components/schemas/IntegerFilter'
        finalPageStatusCode:
          $ref: '#/components/schemas/IntegerFilter'
        combinedPageStatusCode:
          $ref: '#/components/schemas/CombinedPageStatusCodeEnum'
        pageLoadTime:
          $ref: '#/components/schemas/PageLoadTimeFilter'
        pageSize:
          $ref: '#/components/schemas/PageSizeFilter'
        redirectCount:
          $ref: '#/components/schemas/PageRedirectCountFilter'
        hasBrokenLinks:
          type: boolean
    PageUrl:
      type: string
      format: url
      example: https://example.com/about
    AuditRun_TagDuplicatesAndMultiples_TagAccountsDTO:
      type: object
      required:
      - metadata
      - tagAccounts
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        tagAccounts:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TagAccountsItem'
    CombinedPageStatusCodeEnum:
      type: string
      description: '- `broken` - initial or final URL are `broken`,

        - `good` - initial URL is `good` or `redirect` and final URL is `good`

        '
      enum:
      - broken
      - good
    ItemRun_SpecificTrendValueItem:
      x-implements:
      - com.observepoint.reportingapi.gen.interfaces.ItemRunTrendsItemTraitInterface
      allOf:
      - $ref: '#/components/schemas/ItemRunTrendsItemTrait'
      - type: object
        required:
        - trendValue
        properties:
          trendValue:
            type: number
    RunId:
      type: integer
      format: int64
      example: 33010
    AuditRun_TagDuplicatesAndMultiples_TrendsDTO:
      type: object
      required:
      - runs
      properties:
        runs:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TrendItem'
    AuditRunPageCommonColumnsTrait:
      description: Trait for audit page with common page properties
      allOf:
      - $ref: '#/components/schemas/AuditRunPageTrait'
      - type: object
        required:
        - pageLoadTime
        - pageStatusCode
        properties:
          pageLoadTime:
            $ref: '#/components/schemas/PageLoadTime'
          pageStatusCode:
            $ref: '#/components/schemas/PageStatusCode'
    PageSizeFilter:
      description: Page size in bytes. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/LongIntegerRangeFilterTrait'
    AuditRun_TagDuplicatesAndMultiples_PagesDTO:
      type: object
      required:
      - metadata
      - pages
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        pages:
          type: array
          items:
            $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_PagesItem'
    TagName:
      type: string
      description: Tag name
    ErrorModel:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        details:
          type: string
        validationReport:
          type: object
    PageLoadTime:
      type: integer
      description: Time page took to load, in milliseconds
    CommonIterableResponseMetadata:
      description: Common metadata for iterable
      type: object
      required:
      - pagination
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    TagCategoryId:
      type: integer
      description: Tag category ID
    AuditRun_TagDuplicatesAndMultiples_TagsItem:
      allOf:
      - $ref: '#/components/schemas/TagInfoTrait'
      - $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_TagsItemTrait'
    DateAndTime:
      type: string
      format: date-time
      description: 'Date-time in [RFC3339 profile ISO 8601 format](https://www.ietf.org/rfc/rfc3339.txt) with

        the following additional restrictions:

        1. An uppercase T must separate the date and time portions.

        2. An uppercase Z must denote that a numeric time zone offset isn''t present.


        In general, these timestamp requirements are the same in

        [AWS Step Functions - Choice Rules](https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-choice-state.html)

        '
      example: '2016-08-18T17:33:00Z'
    IntegerFilter:
      type: object
      required:
      - filterType
      - negated
      properties:
        filterType:
          $ref: '#/components/schemas/IntegerFilterTypeEnum'
        negated:
          type: boolean
          description: Switches from `==` to `!=`, and from `between [minInclusive, maxExclusive)` to `NOT between [minInclusive, maxExclusive)`
      discriminator:
        propertyName: filterType
        mapping:
          specific: '#/components/schemas/SpecificIntegerFilter'
          range: '#/components/schemas/IntegerRangeFilter'
    LongIntegerRangeFilterTrait:
      type: object
      description: Common trait for long integer min max filter
      properties:
        min:
          type: integer
          format: int64
          minimum: 0
        max:
          type: integer
          format: int64
    StringInclusionFilterTypeEnum:
      type: string
      enum:
      - contains
      - not_contains
    TagCategoryName:
      type: string
      description: Name of a category of a tag
    PageLoadTimeFilter:
      description: Page load time in milliseconds. Should have `min` and/or `max` properties defined. `min` is inclusive and `max` is exclusive. `min` should be less than `max`.
      allOf:
      - $ref: '#/components/schemas/IntegerRangeFilterTrait'
    TagAccount:
      type: string
      description: Tag account
    PageTitleFilter:
      type: object
      required:
      - filterType
      - filterValue
      properties:
        filterType:
          $ref: '#/components/schemas/StringInclusionFilterTypeEnum'
        filterValue:
          type: string
          description: Page title as displayed by browser
          minLength: 1
          example: ObserveP
    TagInfoTrait:
      type: object
      description: Common tag info
      required:
      - tagId
      - tagName
      - tagCategoryId
      - tagCategoryName
      properties:
        tagId:
          $ref: '#/components/schemas/TagId'
        tagName:
          $ref: '#/components/schemas/TagName'
        tagCategoryId:
          $ref: '#/components/schemas/TagCategoryId'
        tagCategoryName:
          $ref: '#/components/schemas/TagCategoryName'
    AuditRun_TagDuplicatesAndMultiples_PagesSortColumn:
      type: string
      enum:
      - page_url
      - final_page_url
      - page_load_time
      - page_status_code
      - final_page_status_code
      - tag_duplicates
      - tag_multiples
    AuditRun_TagDuplicatesAndMultiples_PagesItem:
      allOf:
      - $ref: '#/components/schemas/AuditRunPageCommonColumnsWithFinalValuesTrait'
      - type: object
        required:
        - filteredTagDuplicateCount
        - filteredTagMultipleCount
        properties:
          filteredTagDuplicateCount:
            type: integer
          filteredTagMultipleCount:
            type: integer
    AuditRun_TagDuplicatesAndMultiples_TagAccountsSortColumn:
      type: string
      enum:
      - tag_account
      - tag_duplicates
      - duplicate_tag_pages
      - tag_multiples
      - multiple_tag_pages
      - tag_instance_count
  parameters:
    TagId:
      name: tagId
      in: path
      required: true
      description: Tag ID
      schema:
        $ref: '#/components/schemas/TagId'
    AuditRun_TagDuplicatesAndMultiples_PagesSortParam:
      name: sortBy
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/AuditRun_TagDuplicatesAndMultiples_PagesSortColumn'
    AuditRun_Trends_DaysParam:
      name: days
      in: query
      required: true
      schema:
        type: integer
        description: Number of days to get trend values for, relative to current time
        maximum: 390
        minimum: 1
    AuditId:
      name: auditId
      in: path
      required: true
      description: Unique identification number for web audit
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/AuditId'
    AuditRun_PagesList_PageSizeParam:
      in: query
      name: size
      required: false
      schema:
        type: integer
        maximum: 1000
        default: 50
        minimum: 50
    AuditRun_TagAccountList_PageSizeParam:
      in: query
      name: size
      required: false
      schema:
        type: integer
        maximum: 1000
        default: 100
        minimum: 100
    pageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Page number, starts with 0
    RunId:
      name: runId
      in: path
      required: true
      description: Unique identification number for web audit or journey run
      deprecated: false
      allowEmptyValue: false
      schema:
        $ref: '#/components/schemas/RunId'
    SortDescendingParam:
      name: sortDesc
      in: query
      description: Controls sorting order
      required: false
      schema:
        type: boolean
        default: false
  responses:
    BadRequest:
      description: The request cannot be accepted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    NotFound:
      description: The object you are looking is not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    UnAuthorized:
      description: Your token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorModel'
  securitySchemes:
    API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`

        '
x-tagGroups:
- name: Audit Reports
  tags:
  - alert-summary-report
  - audit-summary-report
  - browser-logs-report
  - cookie-inventory-report
  - cookie-privacy-report
  - file-changes-report
  - page-details-report
  - page-summary-report
  - request-privacy-report
  - rule-summary-report
  - tag-duplicates-and-multiples-report
  - tag-health-report
  - tag-inventory-report
  - tag-privacy-report
  - variable-inventory-report
  - web-audits
- name: Web Journey Reports
  tags:
  - web-journey-cookie-report
- name: Exports
  tags:
  - account-usage-export
  - alert-export
  - audit-run-export
  - consent-category-export
  - exports
  - manual-journey-run-export
  - scheduled-exports
  - web-journey-run-export
- name: Alerts
  tags:
  - account-triggered-alerts
  - account-usage-alerts
  - alerts
  - email-inbox-message-alerts
- name: Account Usage
  tags:
  - account-usage-v2
- name: Email
  tags:
  - email-inbox-configuration
  - email-inbox-messages
  - email-inboxes
- name: Configuration
  tags:
  - action-set-action-rules
  - action-set-actions
  - action-sets
  - audit-actions
  - audit-blocking-config
  - audit-login-actions
  - audits-consent-category
  - audits-management
  - consent-categories
  - custom-headers
  - data-sources
  - geo-locations
  - notification-center
  - remote-file-mappings
  - rules
  - schedules
  - site-censuses
  - user-events
  - web-journey-blocking-config
  - web-journey-custom-headers
  - web-journeys-management
