openapi: 3.2.0
info:
  description: Endpoints for managing sub-folders including creation, configuration, and sub-folder-based audit and journey management
  title: V2 Sub Folders API
  version: null
servers:
- url: https://api.observepoint.com/v2
tags:
- description: Endpoints for managing sub-folders including creation, configuration, and sub-folder-based audit and journey management
  name: Sub-Folders
paths:
  /domains:
    get:
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v2/domains</div>
      operationId: getDomains
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                type: array
        '401':
          description: Authentication credentials are missing or invalid
      security:
      - API_Key: []
      summary: Get list of all sub-folders
      tags:
      - Sub-Folders
    post:
      description: <div class="op-path-box"><span class="op-http-method-post">POST</span> /v2/domains</div>
      operationId: createDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewDomain'
        description: New sub-folder info
        required: true
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Authentication credentials are missing or invalid
      security:
      - API_Key: []
      summary: Create new sub-folder
      tags:
      - Sub-Folders
  /domains/{domainId}:
    get:
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v2/domains/<span class="op-path-parameter">{domainId}</span></div>
      operationId: getDomain
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Requested item not found
      security:
      - API_Key: []
      summary: Get sub-folder by id
      tags:
      - Sub-Folders
    put:
      description: <div class="op-path-box"><span class="op-http-method-put">PUT</span> /v2/domains/<span class="op-path-parameter">{domainId}</span></div>
      operationId: updateDomain
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
        description: Sub-folder update information
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Requested item not found
      security:
      - API_Key: []
      summary: Update sub-folder with given id
      tags:
      - Sub-Folders
    delete:
      description: <div class="op-path-box"><span class="op-http-method-delete">DELETE</span> /v2/domains/<span class="op-path-parameter">{domainId}</span></div>
      operationId: deleteDomain
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Item was successfully deleted
        '423':
          description: Following items are still running. Please stop & discard their active runs first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsAreRunningApiError'
      security:
      - API_Key: []
      summary: Delete sub-folder with given id
      tags:
      - Sub-Folders
  /domains/{domainId}/web-audits:
    get:
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v2/domains/<span class="op-path-parameter">{domainId}</span>/web-audits</div>
      operationId: getAudits
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: withRuns
        in: query
        required: true
        schema:
          type: boolean
      - name: runsLimit
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Audit'
                type: array
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Requested item not found
      security:
      - API_Key: []
      summary: Get web audits for sub-folder with given id
      tags:
      - Sub-Folders
  /domains/{domainId}/web-journeys:
    get:
      description: <div class="op-path-box"><span class="op-http-method-get">GET</span> /v2/domains/<span class="op-path-parameter">{domainId}</span>/web-journeys</div>
      operationId: getWebJourneys
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WebJourney'
                type: array
        '401':
          description: Authentication credentials are missing or invalid
        '404':
          description: Requested item not found
      security:
      - API_Key: []
      summary: Get web journeys for sub-folder with given id
      tags:
      - Sub-Folders
components:
  schemas:
    RuleDescription:
      type: object
      required:
      - accountId
      - checkTimes
      - createdAt
      - id
      - matchAllFilters
      - name
      - updatedAt
      properties:
        accountId:
          format: int32
          type: integer
        checkTimes:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        id:
          format: int32
          type: integer
        matchAllFilters:
          type: boolean
        name:
          type: string
        recipients:
          items:
            type: string
          type: array
        updatedAt:
          format: date-time
          type: string
    AuditOptions:
      type: object
      required:
      - fireTags
      - loadFlash
      - location
      - requestRate
      - stripQueryString
      - userAgent
      properties:
        adobeAuditor:
          type: boolean
        blockThirdPartyCookies:
          type: boolean
        browserHeight:
          format: int32
          type: integer
        browserWidth:
          format: int32
          type: integer
        customHttpHeaders:
          items:
            $ref: '#/components/schemas/CustomHttpHeaderAssignment'
          type: array
        customProxy:
          type: string
        discoverSitemap:
          type: boolean
        fireTags:
          type: boolean
        gpcEnabled:
          type: boolean
        loadFlash:
          type: boolean
        location:
          type: string
        remoteFileMapConfig:
          items:
            $ref: '#/components/schemas/RemoteFileMapping'
          type: array
        requestRate:
          format: int32
          type: integer
        sameUrlRunId:
          type: number
        stripQueryString:
          type: boolean
        userAgent:
          type: string
        vpnEnabled:
          type: boolean
        webHookUrl:
          type: string
    AuditFilters:
      type: object
      required:
      - exclude
      - include
      properties:
        exclude:
          items:
            type: string
          type: array
        include:
          items:
            $ref: '#/components/schemas/IncludeFilter'
          type: array
    IncludeFilter:
      type: object
      required:
      - includeLimit
      - value
      properties:
        includeLimit:
          format: int32
          type: integer
        value:
          type: string
    AuditRunSwaggerReference:
      type: object
      required:
      - adobeAuditor
      - id
      - limit
      - silentMode
      - taggedUrl
      - totalUrl
      - userId
      - webAuditId
      properties:
        adobeAuditor:
          type: boolean
        completed:
          format: date-time
          type: string
        id:
          format: int32
          type: integer
        limit:
          format: int32
          type: integer
        score:
          description: Deprecated. Use `/v3/web-audits/{auditId}/runs/{runId}/scores` instead
          format: int32
          type: integer
        silentMode:
          type: boolean
        started:
          format: date-time
          type: string
        supportedFeatures:
          example: '[TagLoadtimeReport, ConsoleLogsReport]'
          items:
            type: string
          type: array
        taggedUrl:
          format: int32
          type: integer
        totalUrl:
          format: int32
          type: integer
        userId:
          format: int32
          type: integer
        webAuditId:
          format: int32
          type: integer
    Label:
      type: object
      required:
      - id
      - name
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
    WebActionSelectorSwaggerReference:
      type: object
      discriminator:
        propertyName: selectorType
      properties:
        selectorType:
          format: int32
          type: integer
      description: 'Children: AttributesSelector, SimpleSelector'
    SequencedActionSwaggerReference:
      type: object
      required:
      - preventNav
      - selectors
      - sequence
      properties:
        action:
          enum:
          - navto
          - click
          - input
          - select
          - check
          - uncheck
          - execute
          - watch
          - maskedInput
          - enterIframe
          - exitIframe
          type: string
        actionId:
          type: number
        js:
          type: string
        label:
          type: string
        maskedValue:
          type: string
        preventNav:
          type: boolean
        rules:
          items:
            type: number
          type: array
        seconds:
          format: int32
          type: integer
        selectors:
          items:
            $ref: '#/components/schemas/WebActionSelectorSwaggerReference'
          type: array
        sequence:
          format: int32
          type: integer
        url:
          type: string
        value:
          type: string
        waitDuration:
          format: int32
          maximum: 1800
          minimum: 0
          type: integer
    WebJourneyOptions:
      type: object
      required:
      - alerts
      - browserWidth
      - loadFlash
      - location
      - userAgent
      properties:
        alerts:
          type: boolean
        browserWidth:
          format: int32
          type: integer
        customProxy:
          type: string
        flashLiveVideoEnabled:
          type: boolean
        frequency:
          type: string
        loadFlash:
          type: boolean
        location:
          type: string
        monitoredByScriptServices:
          type: number
        nextRun:
          format: date-time
          type: string
        remoteFileMapConfig:
          items:
            $ref: '#/components/schemas/RemoteFileMapping'
          type: array
        userAgent:
          type: string
        userAgentDescription:
          type: string
        vpnEnabled:
          type: boolean
        webHookUrl:
          type: string
    DomainUpdate:
      type: object
      required:
      - domain
      - folderId
      - name
      properties:
        dataLayer:
          type: string
        domain:
          type: string
        folderId:
          format: int32
          type: integer
        name:
          type: string
      description: Domain update information
    RemoteFileMapping:
      type: object
      required:
      - matchType
      - matchValue
      properties:
        createdAt:
          format: date-time
          type: string
        createdBy:
          format: int32
          type: integer
        fileId:
          format: int32
          type: integer
        fileUrl:
          type: string
        id:
          format: int32
          type: integer
        matchType:
          enum:
          - '[equals'
          - regex]
          type: string
        matchValue:
          type: string
        name:
          type: string
        updatedAt:
          format: date-time
          type: string
        updatedBy:
          format: int32
          type: integer
    WebJourney:
      type: object
      required:
      - actions
      - domainId
      - emails
      - folderId
      - id
      - name
      - options
      - queued
      - userId
      properties:
        actions:
          items:
            $ref: '#/components/schemas/SequencedActionSwaggerReference'
          type: array
        createdAt:
          format: date-time
          type: string
        domainId:
          format: int64
          type: integer
        emails:
          items:
            type: string
          type: array
        folderId:
          format: int64
          type: integer
        id:
          format: int64
          type: integer
        lastCheck:
          format: date-time
          type: string
        name:
          type: string
        nextCheck:
          format: date-time
          type: string
        options:
          $ref: '#/components/schemas/WebJourneyOptions'
        queued:
          type: boolean
        screenshot:
          type: string
        status:
          enum:
          - Ok
          - Failed
          - NotChecked
          - RulesFailed
          - ActionFailed
          - PageFailed
          - DataCollectionFailure
          type: string
        userId:
          format: int64
          type: integer
        webJourneyRunning:
          type: boolean
      description: Web journey model
    DomainTotals:
      type: object
      required:
      - auditsRunning
      - automatedJourneys
      - averageScore
      - errors
      - guidedJourneys
      - pages
      - simulationsRunning
      properties:
        auditsRunning:
          format: int32
          type: integer
        automatedJourneys:
          format: int32
          type: integer
        averageScore:
          format: int32
          type: integer
        errors:
          format: int32
          type: integer
        guidedJourneys:
          format: int32
          type: integer
        pages:
          format: int32
          type: integer
        simulationsRunning:
          format: int32
          type: integer
    ItemsAreRunningApiError:
      type: object
      required:
      - errorCode
      - items
      - message
      properties:
        errorCode:
          format: int32
          type: integer
        items:
          items:
            $ref: '#/components/schemas/ItemWithActiveRun'
          type: array
        message:
          type: string
    CustomHttpHeaderAssignment:
      type: object
      required:
      - groupId
      - isApplyToAll
      properties:
        groupId:
          format: int64
          type: integer
        isApplyToAll:
          type: boolean
    Audit:
      type: object
      required:
      - created
      - domainId
      - folderId
      - id
      - labels
      - lastUpdated
      - limit
      - name
      - ownerId
      - queued
      - recipients
      - runs
      - startingUrls
      properties:
        created:
          format: date-time
          type: string
        domainId:
          format: int32
          type: integer
        filters:
          $ref: '#/components/schemas/AuditFilters'
        folderId:
          format: int32
          type: integer
        frequency:
          type: string
        id:
          format: int32
          type: integer
        labels:
          items:
            $ref: '#/components/schemas/Label'
          type: array
        lastRun:
          format: date-time
          type: string
        lastUpdated:
          format: date-time
          type: string
        limit:
          format: int32
          type: integer
        name:
          type: string
        nextRun:
          format: date-time
          type: string
        options:
          $ref: '#/components/schemas/AuditOptions'
        ownerId:
          format: int32
          type: integer
        queued:
          type: boolean
        recipients:
          items:
            type: string
          type: array
        rules:
          items:
            $ref: '#/components/schemas/RuleDescription'
          type: array
        runs:
          items:
            $ref: '#/components/schemas/AuditRunSwaggerReference'
          type: array
        schedule:
          type: boolean
        screenshot:
          type: string
        startingUrls:
          items:
            type: string
          type: array
        taggingPlans:
          items:
            type: number
          type: array
        webAuditRunning:
          type: number
      description: Web audit model
    ItemWithActiveRun:
      type: object
      required:
      - itemId
      - itemName
      - itemType
      - runId
      properties:
        itemId:
          format: int64
          type: integer
        itemName:
          type: string
        itemType:
          type: string
        runId:
          format: int64
          type: integer
    Domain:
      type: object
      required:
      - accountId
      - createdAt
      - domain
      - folderId
      - id
      - name
      - userId
      properties:
        accountId:
          format: int32
          type: integer
        createdAt:
          format: date-time
          type: string
        domain:
          type: string
        folderId:
          format: int32
          type: integer
        id:
          format: int32
          type: integer
        name:
          type: string
        totals:
          $ref: '#/components/schemas/DomainTotals'
        userId:
          format: int32
          type: integer
      description: Domain model
    NewDomain:
      type: object
      required:
      - domain
      - folderId
      - name
      properties:
        dataLayer:
          type: string
        domain:
          type: string
        folderId:
          format: int32
          type: integer
        name:
          type: string
      description: Domain creation information
  securitySchemes:
    API_Key:
      description: 'Use the `Authorization` header in your requests with ObservePoint API key as header value.


        Example: `Authorization: abc123...def456`'
      in: header
      name: Authorization
      type: apiKey
