openapi: 3.0.0
info:
  title: Grid reports API by Observepoint
  version: null
  contact:
    name: Observepoint
    url: https://www.observepoint.com/contact-us
  description: >-
    This section documents the API endpoints for using the ObservePoint Grid
    API, which provides access to ObservePoint data in row/column format.
servers:
  - url: https://api.observepoint.com
    description: ObservePoint Production API
security:
  - API_Key: []
paths:
  /v3/reports/grid/{gridEntityType}:
    parameters:
      - name: gridEntityType
        in: path
        required: true
        description: The grid entity type for which you want to query data
        schema:
          $ref: '#/components/schemas/GridApi_GridEntityTypeInPathEnum'
    post:
      operationId: getGridData
      summary: Get Grid Data
      description: >
        <div class="op-path-box"><span class="op-http-method-post">POST</span>
        /v3/reports/grid/<span
        class="op-path-parameter">{gridEntityType}</span></div>


        This is the main endpoint for the Grid API. It lets you request data in
        row/column format for the

        entities that ObservePoint has collected about your website
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GridApi_RequestDTO'
      responses:
        '200':
          description: Grid Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridApi_ResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/reports/grid/{gridEntityType}/schema:
    parameters:
      - name: gridEntityType
        in: path
        required: true
        description: Grid entity type
        schema:
          $ref: '#/components/schemas/GridApi_GridEntityTypeInPathEnum'
    get:
      description: >-
        <div class="op-path-box"><span class="op-http-method-get">GET</span>
        /v3/reports/grid/<span
        class="op-path-parameter">{gridEntityType}</span>/schema</div>


        Returns the list of columns that area available for the specified entity
        type, along with each column's ID, type, supported filter operators, and
        supported aggreate functions
      operationId: getGridSchema
      summary: Get Grid Schema
      responses:
        '200':
          description: Grid Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridApi_GetSchemaResponseDTO'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/reports/grid/saved:
    post:
      operationId: createSavedReport
      summary: Create Saved Report
      description: >-
        A saved report contains information about the report, such as its name
        and permissions, and also the Grid API query definition that is applied
        when users view the report. The query definition uses the same JSON
        format as a [Grid API request](#operation/getGridData)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GridApi_CreateSavedReportRequestDTO'
      responses:
        '201':
          description: Saved report created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridApi_CreateSavedReportResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    get:
      operationId: getSavedReportsList
      summary: List Saved Reports
      parameters:
        - $ref: '#/components/parameters/GridAPI_SavedReports_NameParam'
        - $ref: '#/components/parameters/GridAPI_SavedReports_IsFavoriteParam'
        - $ref: >-
            #/components/parameters/GridAPI_SavedReports_IsOwnedByCurrentUserParam
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/GridAPI_SavedReports_PageSizeParam'
        - $ref: '#/components/parameters/GridAPI_SavedReports_SortColumn'
        - $ref: '#/components/parameters/SortDescendingParam'
        - $ref: '#/components/parameters/GridAPI_SavedReports_IsManagedByOPParam'
        - $ref: '#/components/parameters/GridAPI_SavedReports_VisibilityParam'
      responses:
        '200':
          description: List of saved reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridApi_GetSavedReportsListResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      description: >-
        <div class="op-path-box"><span class="op-http-method-get">GET</span>
        /v3/reports/grid/saved</div>
  /v3/reports/grid/saved/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/GridApi_SavedReportId'
    get:
      operationId: getSavedReportById
      summary: Get Saved Report
      responses:
        '200':
          description: Saved report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridApi_SavedReportDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      description: >-
        <div class="op-path-box"><span class="op-http-method-get">GET</span>
        /v3/reports/grid/saved/<span class="op-path-parameter">{id}</span></div>
    put:
      operationId: updateSavedReport
      summary: Update Saved Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GridApi_UpdateSavedReportRequestDTO'
      responses:
        '204':
          description: Saved report updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      description: >-
        <div class="op-path-box"><span class="op-http-method-put">PUT</span>
        /v3/reports/grid/saved/<span class="op-path-parameter">{id}</span></div>
    delete:
      operationId: deleteSavedReport
      summary: Delete Saved Report
      responses:
        '204':
          description: Saved report deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      description: >-
        <div class="op-path-box"><span
        class="op-http-method-delete">DELETE</span> /v3/reports/grid/saved/<span
        class="op-path-parameter">{id}</span></div>
  /v3/reports/grid/saved/{id}/favorites:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/GridApi_SavedReportId'
    post:
      operationId: addSavedReportToFavorites
      summary: Favorite Saved Report
      description: >-
        <div class="op-path-box"><span class="op-http-method-post">POST</span>
        /v3/reports/grid/saved/<span
        class="op-path-parameter">{id}</span>/favorites</div>


        Mark a saved report as a "favorite" for the user to whom the API key
        belongs
      responses:
        '204':
          description: Saved report added to favorites successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: removeSavedReportFromFavorites
      summary: Unfavorite Saved Report
      description: >-
        <div class="op-path-box"><span
        class="op-http-method-delete">DELETE</span> /v3/reports/grid/saved/<span
        class="op-path-parameter">{id}</span>/favorites</div>


        Mark a saved report as not a favorite for the user to whom the API key
        belongs
      responses:
        '204':
          description: Saved report removed from favorites successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/reports/grid/op-managed/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
  /v3/reports/grid/{gridEntityType}/exports:
    parameters:
      - name: gridEntityType
        in: path
        required: true
        description: grid entity type
        schema:
          $ref: '#/components/schemas/GridApi_GridEntityTypeInPathEnum'
    post:
      operationId: initiateGridDataExport
      summary: Start a grid data export
      description: >
        <div class="op-path-box"><span class="op-http-method-post">POST</span>
        /v3/reports/grid/<span
        class="op-path-parameter">{gridEntityType}</span>/exports</div>


        Use this endpoint to start an export for a Grid request. After calling
        this endpoint, use the `/v3/exports` endpoint to poll the status of

        the export until it's finished. Then, you can download the results with
        the URL given by the `/v3/exports` endpoint.


        [Learn how to use the Grid export API](../sections/grid-api-exports.md)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GridApi_ExportRequestDTO'
      responses:
        '200':
          description: Grid export ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridExportResultDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  parameters:
    pageParam:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Page number, starts with 0
    SortDescendingParam:
      name: sortDesc
      in: query
      description: Controls sorting order
      required: false
      schema:
        type: boolean
        default: false
    GridAPI_SavedReports_PageSizeParam:
      name: size
      in: query
      required: false
      schema:
        type: integer
        minimum: 10
        maximum: 1000
        default: 100
      description: Number of items per page
    GridAPI_SavedReports_SortColumn:
      name: sortBy
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/GridApi_SavedReports_SortColumn'
      description: Sort by field
    GridAPI_SavedReports_NameParam:
      name: name
      in: query
      required: false
      schema:
        type: string
      description: >-
        Filter by report name, works as "saved report name contains substring"
        case-insensitive filter
    GridAPI_SavedReports_IsFavoriteParam:
      name: isFavorite
      in: query
      required: false
      schema:
        type: boolean
      description: Filter by favorite status
    GridAPI_SavedReports_IsOwnedByCurrentUserParam:
      name: isOwnedByCurrentUser
      in: query
      required: false
      schema:
        type: boolean
      description: Filter by ownership status
    GridAPI_SavedReports_IsManagedByOPParam:
      name: isManagedByOP
      in: query
      required: false
      schema:
        type: boolean
      description: Filter by managed by ObservePoint
    GridAPI_SavedReports_VisibilityParam:
      name: visibility
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/GridApi_SavedReportVisibilityEnum'
      description: Filter by visibility status
    GridEntityTypeInPathParam:
      name: gridEntityType
      in: path
      required: true
      description: Grid entity type
      schema:
        $ref: '#/components/schemas/GridApi_GridEntityTypeInPathEnum'
  schemas:
    DateAndTime:
      type: string
      format: date-time
      description: >
        Date-time in [RFC3339 profile ISO 8601
        format](https://www.ietf.org/rfc/rfc3339.txt) with

        the following additional restrictions:

        1. An uppercase T must separate the date and time portions.

        2. An uppercase Z must denote that a numeric time zone offset isn't
        present.


        In general, these timestamp requirements are the same in

        [AWS Step Functions - Choice
        Rules](https://docs.aws.amazon.com/step-functions/latest/dg/amazon-states-language-choice-state.html)
      example: '2016-08-18T17:33:00Z'
    CommonIterableResponseMetadata:
      description: Common metadata for iterable
      type: object
      required:
        - pagination
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'
    AccountId:
      type: integer
      description: ID of an account
      example: 123
    UserId:
      type: integer
      description: ID of a user
    LabelId:
      type: integer
      format: int64
      description: ID of a label
    GridApi_SchemaCapabilitiesEnum:
      type: string
      x-class-extra-annotation: '@AllowUnknownEnumValues'
      enum:
        - query_all_accounts
        - ui_hints
        - data_dictionary
    GridApi_ColumnId:
      type: string
      description: >
        Depends on the Grid type:

        - Audit Runs Grid: one of the `AuditRunsGridColumnEnum` values

        - Web Journey Runs Grid: one of the `WebJourneyRunsGridColumnEnum`
        values

        - Pages Grid: one of the `PagesGridColumnEnum` values

        - Cookies Grid: one of the `CookiesGridColumnEnum` values

        - Tags Grid: one of the `TagsGridColumnEnum` values

        - Tag Variables Grid: one of the `TagVariablesGridColumnEnum` values

        - Links Grid: one of the `LinksGridColumnEnum` values

        - Network Requests Grid: one of the `NetworkRequestsGridColumnEnum`
        values

        - Accessibility Issues Grid: one of the
        `AccessibilityIssuesGridColumnEnum` values

        - Browser Logs Grid: one of the `BrowserLogsGridColumnEnum` values

        - Rules Grid: one of the `RulesGridColumnEnum` values
    GridApi_SavedReportId:
      type: integer
      format: int64
      description: ID of the saved report
    GridApi_OpManagedReportId:
      type: integer
      format: int64
      description: ID of the OpManaged report
    GridApi_SavedReportSearchParam:
      type: string
      description: Parameter to search for saved reports
    GridApi_GetSchemaResponseDTO:
      type: object
      required:
        - columns
      properties:
        columns:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/GridApi_SchemaColumnDef'
    GridApi_SchemaColumnDef:
      type: object
      required:
        - columnId
        - type
        - name
        - canGroupBy
        - canPivot
        - supportedFilterOperators
        - supportedAggregateFunctions
        - isIncludedByDefault
        - isNullable
      properties:
        columnId:
          $ref: '#/components/schemas/GridApi_ColumnId'
        type:
          $ref: '#/components/schemas/GridApi_ColumnTypeEnum'
        name:
          type: string
          description: Human-readable value for column, to be shown for users
        canGroupBy:
          type: boolean
          default: true
        canPivot:
          type: boolean
          default: false
        supportedFilterOperators:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/GridApi_FilterOperatorEnum'
        supportedAggregateFunctions:
          type: array
          minItems: 0
          description: >
            If not empty, then this column can be aggregated by the functions
            listed in this array. Default aggregation

            function is the first one in the list.

            If empty, then this column cannot be aggregated.
          items:
            $ref: '#/components/schemas/GridApi_AggregateFunctionEnum'
        isIncludedByDefault:
          type: boolean
          description: >-
            If true and no columns are specified in the request, this column
            will be included in the response.
          default: false
        isNullable:
          type: boolean
          description: If true, column value can be null or empty string
          default: false
        dataDictionaryColumnOriginType:
          $ref: '#/components/schemas/DataDictionaryColumnOriginTypeEnum'
      discriminator:
        propertyName: type
        mapping:
          id: '#/components/schemas/GridApi_SchemaColumnDef_Simple'
          entity_reference: '#/components/schemas/GridApi_SchemaColumnDef_EntityReference'
          string: '#/components/schemas/GridApi_SchemaColumnDef_Simple'
          number: '#/components/schemas/GridApi_SchemaColumnDef_Number'
          timestamp: '#/components/schemas/GridApi_SchemaColumnDef_Timestamp'
          image: '#/components/schemas/GridApi_SchemaColumnDef_Image'
    DataDictionaryColumnOriginTypeEnum:
      type: string
      enum:
        - definition_config
        - op_field
        - custom_field
    GridApi_ColumnTypeEnum:
      type: string
      enum:
        - id
        - entity_reference
        - string
        - number
        - timestamp
        - image
    GridApi_SchemaUiHints_FieldUiName:
      type: object
      required:
        - fieldName
        - uiName
      properties:
        fieldName:
          $ref: '#/components/schemas/GridApi_EntityReference_FieldTypeEnum'
        uiName:
          type: string
          description: Human-readable name of the field, e.g. 'Cookie Name'
    GridApi_UiHintsSectionId:
      type: string
      description: Id of the group of columns in which this column should be shown
    GridApi_SchemaSectionUiHints:
      type: object
      required:
        - id
        - name
      properties:
        id:
          $ref: '#/components/schemas/GridApi_UiHintsSectionId'
        name:
          type: string
          description: Name of the group of columns in which this column should be shown
        description:
          type: string
          description: Description of the section, to be shown for users
    GridApi_ColoringRule:
      description: >
        Ordered list of coloring rules to apply to the column. The first
        (left-most) rule with matching threshold wins,

        and its color should be applied to the column value.
      type: object
      required:
        - id
        - thresholds
      properties:
        id:
          $ref: '#/components/schemas/GridApi_ColoringRuleId'
        thresholds:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_ColoringRuleThreshold'
    GridApi_ColoringRuleId:
      type: string
      description: ID of the coloring rule
      example: status_code
    GridApi_ColoringRuleThreshold:
      type: object
      required:
        - minValue
        - colorType
      properties:
        minValue:
          type: number
          description: >
            The minimum value for which the rule should be applied -

            if the column value is greater than or equal to the `minValue`, the
            coloring rule should be applied.
        colorType:
          $ref: '#/components/schemas/GridApi_ColorTypeEnum'
    GridApi_ColorTypeEnum:
      type: string
      description: >
        This enum is used to specify the color of the column value in the grid.
        Meanings of the values:

        * default – no special coloration (text is black or white depending on
        the UI theme)

        * excellent – green with glow (best state)

        * good – healthy green (best/healthy state)

        * debug (development or diagnostic information)

        * notice (informational message)

        * info – informational blue color

        * moderate – yellow (middle-ground)

        * warning – orange (issues are becoming concerning)

        * bad – red (worst/critical state)
      enum:
        - excellent
        - default
        - good
        - debug
        - notice
        - info
        - moderate
        - warning
        - bad
    GridApi_LinkBase:
      type: object
      required:
        - text
        - linkType
      properties:
        text:
          type: string
          description: Text of the link/button that will be displayed in the context menu
          example: Show in Pages report
        linkType:
          $ref: '#/components/schemas/GridApi_LinkTypeEnum'
      discriminator:
        propertyName: linkType
        mapping:
          audit_run_report: '#/components/schemas/GridApi_LinkToAuditRunReport'
          page_details: '#/components/schemas/GridApi_LinkToPageDetails'
          web_journey_run_report: '#/components/schemas/GridApi_LinkToWebJourneyRunReport'
          grid_report: '#/components/schemas/GridApi_LinkToGridReport'
          email_inbox: '#/components/schemas/GridApi_LinkToEmailInbox'
          tag_and_variable_rule_modal: '#/components/schemas/GridApi_LinkToTagAndVariableRuleModal'
    GridApi_LinkTypeEnum:
      type: string
      enum:
        - audit_run_report
        - page_details
        - web_journey_run_report
        - grid_report
        - email_inbox
        - tag_and_variable_rule_modal
    GridApi_LinkToAuditRunReport:
      x-discriminator-value: audit_run_report
      allOf:
        - $ref: '#/components/schemas/GridApi_LinkBase'
        - type: object
          required:
            - linkParams
          properties:
            linkParams:
              $ref: '#/components/schemas/GridApi_LinkToAuditRun_LinkParams'
            filters:
              type: object
              description: >-
                report filters object (may be empty), same as in the audit run
                report alert definition.
    GridApi_LinkToAuditRun_LinkParams:
      type: object
      description: >
        This object specifies column IDs which values are used to populate
        variables in audit run report link template.

        Example of link:

        "/audit/{auditId}/run/{auditRunId}/report/{reportType}"
      required:
        - auditIdColumn
        - auditRunIdColumn
        - reportType
      properties:
        auditIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        auditRunIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        reportType:
          $ref: '#/components/schemas/GridApi_LinkToAuditRun_ReportTypeEnum'
    GridApi_LinkToAuditRun_ReportTypeEnum:
      description: >
        This enum is used to specify the type of the audit run report to link
        to, effectively allows FE to determine

        the report link template, examples:

        - "audit_summary" →
        "/audit/{auditId}/run/{auditRunId}/report/audit-summary"

        - "page_summary" →
        "/audit/{auditId}/run/{auditRunId}/report/page-summary"

        and so on.
      type: string
      enum:
        - audit_summary
        - alert_summary
        - page_summary
        - tag_inventory
        - tag_health
        - variable_inventory
        - tag_rules
        - tag_comparisons
        - tag_duplicates_and_multiples
        - cookie_inventory
        - browser_console_logs
        - cookie_privacy
        - tag_privacy
        - request_privacy
        - javascript_file_changes
    GridApi_LinkToPageDetails:
      x-discriminator-value: page_details
      allOf:
        - $ref: '#/components/schemas/GridApi_LinkBase'
        - type: object
          required:
            - linkParams
          properties:
            linkParams:
              $ref: '#/components/schemas/GridApi_LinkToPageDetails_LinkParams'
            filters:
              type: object
              description: >-
                page details filters object (may be empty), same as in the audit
                run report alert definition.
    GridApi_LinkToPageDetails_LinkParams:
      type: object
      description: >
        This object specifies:

        1. column IDs which values are used to populate variables in Page
        Details link template, and

        2. the tab to open in the Page Details report.

        Link template example:

        "/audit/{auditId}/run/{auditRunId}/report/page-details/{pageId}?tab={pageDetailsTab}"
      required:
        - auditIdColumn
        - auditRunIdColumn
        - pageIdColumn
        - pageDetailsTab
      properties:
        auditIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        auditRunIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        pageIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        pageDetailsTab:
          $ref: '#/components/schemas/GridApi_LinkToPageDetails_TabEnum'
    GridApi_LinkToPageDetails_TabEnum:
      type: string
      description: >
        This enum is used to specify the tab to open in the Page Details report,
        FE should map from this enum to

        the `tab` query parameter value of Page Details, examples:

        - "info" → "?tab=page-information"

        - "tags" → "?tab=tags"

        - "tag_initiators" → "?tab=tag-initiators"

        and so on.
      enum:
        - info
        - tags
        - tag_initiators
        - rules
        - cookies
        - accessibility_issues
        - request_log
        - browser_console_logs
    GridApi_LinkToWebJourneyRunReport:
      x-discriminator-value: web_journey_run_report
      allOf:
        - $ref: '#/components/schemas/GridApi_LinkBase'
        - type: object
          required:
            - linkParams
          properties:
            linkParams:
              $ref: '#/components/schemas/GridApi_LinkToWebJourneyRun_LinkParams'
    GridApi_LinkToWebJourneyRun_LinkParams:
      type: object
      description: >
        This object specifies the link to the Web Journey Run report:

        "/web-journey/{webJourneyId}/run/{webJourneyRunId}/results?action={actionSequenceNr}&tab={webJourneyRunReportTab}"


        This object specifies

        1. column IDs which values are used to populate variables in Web Journey
        Run report link template, and

        2. the tab to open in the Web Journey Run report.

        Link template examples:

        -
        "/web-journey/{webJourneyId}/run/{webJourneyRunId}/results?action={actionSequenceNr}&tab={webJourneyRunReportTab}"

        - "/web-journey/{webJourneyId}/run/{webJourneyRunId}/rules"
      required:
        - webJourneyIdColumn
        - webJourneyRunIdColumn
      properties:
        webJourneyIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        webJourneyRunIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        actionSequenceNrColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        webJourneyRunReportTab:
          $ref: '#/components/schemas/GridApi_LinkToWebJourneyRun_ReportTabEnum'
    GridApi_LinkToWebJourneyRun_ReportTabEnum:
      type: string
      description: >
        This enum is used to specify the tab to open in the Web Journey Run
        report, FE should map from this enum to

        the `tab` query parameter value of Web Journey Run, examples:

        - "action_details" → "?action={actionSequenceNr}&tab=0"

        - "request_log" → "?action={actionSequenceNr}&tab=0"

        - "tag_presence" → "?action={actionSequenceNr}&tab=1"

        - "variable_summary" → "?action={actionSequenceNr}&tab=2"

        and so on.
      enum:
        - action_details
        - request_log
        - console_log
        - tag_presence
        - variable_summary
        - cookies
        - rules
    GridApi_LinkToTagAndVariableRuleModal:
      x-discriminator-value: tag_and_variable_rule_modal
      allOf:
        - $ref: '#/components/schemas/GridApi_LinkBase'
        - type: object
          required:
            - linkParams
          properties:
            linkParams:
              $ref: >-
                #/components/schemas/GridApi_LinkToTagAndVariableRuleModal_LinkParams
    GridApi_LinkToTagAndVariableRuleModal_LinkParams:
      type: object
      description: |
        This object specifies the link to the Tag and Variable Rule Modal:
      required:
        - ruleIdColumn
      properties:
        ruleIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
    GridApi_LinkToGridReport:
      x-discriminator-value: grid_report
      allOf:
        - $ref: '#/components/schemas/GridApi_LinkBase'
        - type: object
          description: >
            This object defines the Grid report which should be opened when the
            user clicks on the link.
          required:
            - gridEntityType
            - columns
          properties:
            gridEntityType:
              $ref: '#/components/schemas/GridApi_GridEntityTypeEnum'
            filterByColumnValues:
              description: >
                This array specifies the list of columns for which FE should
                apply "equals" filters with the values from

                the current row of the grid, similarly to how it is done for the
                "Filter column by this value" context menu
              type: array
              minItems: 0
              items:
                $ref: '#/components/schemas/GridApi_ColumnId'
            staticFilterConditions:
              description: >
                This array specifies the list of additional static filter
                conditions to apply to the linked report.
              type: array
              minItems: 0
              items:
                $ref: '#/components/schemas/GridApi_Request_FilterBase'
            columns:
              description: >
                Same as in `GridApi_RequestDTO`: this non-empty array specifies
                the list of columns of the linked report.
              type: array
              minItems: 1
              maxItems: 1000
              items:
                $ref: '#/components/schemas/GridApi_Request_ColumnExpression'
            sortBy:
              type: array
              description: >
                Same as in `GridApi_RequestDTO`: sorts the result by the
                specified columns, in the same order as in the columns array
              minItems: 0
              maxItems: 1000
              items:
                $ref: '#/components/schemas/GridApi_Request_SortByItem'
    GridApi_LinkToEmailInbox:
      x-discriminator-value: email_inbox
      allOf:
        - $ref: '#/components/schemas/GridApi_LinkBase'
        - type: object
          required:
            - linkParams
          properties:
            linkParams:
              $ref: '#/components/schemas/GridApi_LinkToEmailInbox_LinkParams'
    GridApi_LinkToEmailInbox_LinkParams:
      type: object
      description: >
        This object specifies the link to

        * an Email Inbox: "/email-inboxes/{emailInboxId}/messages/" (if
        `emailMessageIdColumn` is not specified),

        * a specific Email Message:
        "/email-inboxes/{emailInboxId}/messages/{emailMessageIdColumn}"
      required:
        - emailInboxIdColumn
      properties:
        emailInboxIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
        emailMessageIdColumn:
          $ref: '#/components/schemas/GridApi_ColumnId'
    GridApi_SchemaUiHints_DisplayUnitEnum:
      type: string
      description: >
        Values returned by the API always have the same unit, but UI can display
        them in different ways. The `displayUnit`

        property controls how the values are displayed in the UI.


        [unit of value returned by API] - [API value example] - [unit of display
        in UI] - [example on UI] correspondence:

        * duration, milliseconds - 3720000                     -
        `duration_human_friendly` - '1 hour 2 min'

        * duration, milliseconds - 372                         -
        `duration_ms`             - '372 ms'

        * duration, milliseconds - 1500                        -
        `duration_sec`            - '1.5 sec'

        * duration, milliseconds - 90000                       -
        `duration_min`            - '1.5 min'

        * decimal number         - 12.3                        -
        `percentage`              - '12.3%'

        * decimal number         - 0.42                        -
        `fraction`                - '0.42'

        * integer number         - 1234                        -
        `size_bytes`              - '1234 bytes'

        * integer number         - 1234                        -
        `size_kb`                 - '1.23 KB'

        * integer number         - 1234567                     -
        `size_mb`                 - '1.23 MB'

        * integer number         - 1234567890                  -
        `size_gb`                 - '1.23 GB'
      enum:
        - count
        - duration_human_friendly
        - duration_ms
        - duration_sec
        - duration_min
        - percentage
        - fraction
        - size_bytes
        - size_kb
        - size_mb
        - size_gb
        - audit_score
        - accessibility_score
    GridApi_AggregateFunctionEnum:
      type: string
      description: >-
        See what aggregate functions are supported for each column in the
        `supportedAggregateFunctions` property of the `GridApi_SchemaColumnDef`
        schema
      enum:
        - avg
        - count_distinct
        - count_rows
        - max
        - median
        - min
        - sum
        - youngest
        - oldest
        - percentile_25
        - percentile_50
        - percentile_75
        - percentile_90
        - percentile_95
        - percentile_99
        - percentile_99_9
        - standard_deviation
        - list_unique_items
    GridApi_SchemaColumnDef_Simple:
      allOf:
        - $ref: '#/components/schemas/GridApi_SchemaColumnDef'
    GridApi_SchemaColumnDef_EntityReference:
      allOf:
        - $ref: '#/components/schemas/GridApi_SchemaColumnDef'
        - type: object
          required:
            - referenceType
            - fields
          properties:
            referenceType:
              $ref: '#/components/schemas/GridApi_EntityReferenceTypeEnum'
            isEnum:
              type: boolean
              default: false
            enumValues:
              type: array
              items:
                $ref: '#/components/schemas/GridApi_EntityReferenceEnumerationItem'
            fields:
              type: array
              description: >
                This array describes which fields (and in which order) are
                included in the response for this entity reference column.

                If entity reference has more than 1 field, then each entity
                reference will be represented as a list of fields' values.

                If entity reference has only 1 field, then each entity reference
                will be represented plain field value.


                Examples:

                1. when `'isList': false, 'fields': [{'fieldName': 'id'},
                {'fieldName': 'name'}]`
                  - then each entity reference will be represented as a list of 2 values: id and name
                  - example: `[1, 'John']`;
                2. when `'isList': true, 'fields': [{'fieldName': 'id'},
                {'fieldName': 'name'}]`
                  - then each entity reference will be represented as a list of lists of 2 values: id and name
                  - example: `[[1, 'John'], [2, 'Jane']]`;
                3. when `'isList': false, 'fields': [{'fieldName': 'id'}]`
                  - then each entity reference will be represented as a single value: id
                  - example: `1`;
                4. when `'isList': true, 'fields': [{'fieldName': 'id'}]`
                  - then each entity reference will be represented as a list of plain values: id
                  - example: `[1, 2]`.
              items:
                $ref: '#/components/schemas/GridApi_EntityReference_FieldItem'
            isList:
              type: boolean
              description: If true, column value contains a list of entity references
              default: false
            isListOrdered:
              type: boolean
              description: >
                Only applicable when `isList` is true. Specifies whether order
                of the elements in the list is significant,

                for instance order of elements in the initiators chain matters,
                or order of elements in the labels list does not matter.


                Affects supported `GridApi_Requests_Filter_ListItemMatches#mode`
                values:

                - when `true` and such a list column supports
                `list_item_matches` filter operator, then this filter
                  supports all 4 `GridApi_Request_ListFilterModeEnum` modes: `any`, `all`, `first` and `last`;
                - when `false` and such a list column supports
                `list_item_matches` filter operator, then this filter
                  supports only `any` and `all` modes.
              default: false
    GridApi_EntityReference_FieldItem:
      type: object
      description: >
        - `fieldName` is the type of the field.

        - `columnId` is the ID of the column associated with the field.

        - `supportedFilterOperators` are the filters supported by the field.
          For example, `list_item_matches` filter allows to specify filtering conditions for the specific fields in the entity reference list,
          and only allows filters mentioned in `supportedFilterOperators`.
        - `referenceType` is the type of the field in terms of entity reference
        classification.
          For example, field with `'fieldName': 'tag_id'` may also have `'referenceType': 'tag_technology_id'`,
          same as tag-related entity reference columns do.

        There are 2 possible cases:

        1. when `'isList': true, then each field will have `fieldName`,
        `supportedFilterOperators`, and optionally `referenceType`
          - example: `[{ 'fieldName': 'name', 'supportedFilterOperators': ['string_contains'] }]`
          - example with `referenceType`: `[{ 'fieldName': 'tag_id', 'supportedFilterOperators': ['integer_in'], 'referenceType': 'tag_technology_id' }]`
        2. when `'isList': false, then each field will have `fieldName` and
        `columnId` (associated column)
          - example: `[{ 'fieldName': 'id', 'columnId': 'AUDIT_ID' }]`
      required:
        - fieldName
      properties:
        fieldName:
          $ref: '#/components/schemas/GridApi_EntityReference_FieldTypeEnum'
        columnId:
          $ref: '#/components/schemas/GridApi_ColumnId'
        supportedFilterOperators:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_FilterOperatorEnum'
        referenceType:
          $ref: '#/components/schemas/GridApi_EntityReferenceTypeEnum'
    GridApi_EntityReference_FieldTypeEnum:
      type: string
      description: name of field of the entity reference object
      enum:
        - id
        - name
        - preset_type
        - domain
        - link
        - value
        - first_name
        - last_name
        - email
        - full_url_or_domain
        - tag_id
        - tag_category_id
        - tag_vendor_id
        - tag_account
        - data_dictionary_match_criteria_property
        - data_dictionary_match_criteria_operator
        - data_dictionary_match_criteria_operand
        - data_dictionary_match_criteria_negated
        - status
    GridApi_EntityReferenceEnumerationItem:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
        name:
          type: string
    GridApi_EntityReferenceTypeEnum:
      type: string
      enum:
        - account
        - account_type
        - account_status
        - user
        - audit
        - audit_run
        - web_journey
        - web_journey_run
        - label
        - sub_folder
        - folder
        - email_inbox
        - received_email_message
        - data_dictionary_definition
        - location
        - audit_frequency
        - web_journey_frequency
        - tag_technology
        - tag_technology_id
        - tag_category
        - tag_category_id
        - tag_vendor
        - tag_vendor_id
        - alert_metric_type
        - audit_run_scan_status
        - web_journey_run_status
        - web_journey_run_start_reason
        - audit_run_actions_status
        - cmp_action_type
        - config_toggle
        - audit_run_start_reason
        - user_agent
        - audit_url_source
        - boolean_value
        - failed_action_type
        - schedule_info
        - schedule_preset_type
        - page_source_type
        - link_source_type
        - site_census
        - country
        - status_code_type
        - request_initiator
        - cookie_same_site
        - cookie_party_type
        - cookie_expiration_type
        - compliance_status
        - simple_cookie
        - page_link
        - page_cookie
        - request_method
        - request_resource_type
        - party_type
        - http_header
        - accessibility_issue_wcag_version
        - accessibility_issue_wcag_criteria
        - accessibility_issue_wcag_conformance_level
        - accessibility_issue_impact
        - accessibility_issue_solution
        - accessibility_issue_css_selectors
        - accessibility_issue_configuration_tag
        - accessibility_rule_category
        - cookie_set_method
        - consent_category
        - log_level
        - rule
        - rule_recipient_email
        - rule_result
        - rule_condition_match_mode
        - rule_condition_type
        - rule_condition_description
        - rule_tag_result
        - rule_operator
        - rule_tag_variable_selector
        - rule_expected_variable_value
        - rule_tag_variable_result
        - data_dictionary_match_criteria
        - data_dictionary_definition_source
        - data_dictionary_field_enum
        - data_dictionary_field_list
    GridApi_SchemaColumnDef_Number:
      allOf:
        - $ref: '#/components/schemas/GridApi_SchemaColumnDef'
        - type: object
          description: Represents both integer and decimal numbers
          required:
            - numberFormat
          properties:
            numberFormat:
              $ref: '#/components/schemas/GridApi_NumberFormatEnum'
            minimum:
              type: number
              description: >-
                minimum possible value for the column, e.g. 0 for percentage or
                count
            isMinimumExclusive:
              type: boolean
              description: if true, minimum value is exclusive
              default: false
            maximum:
              type: number
              description: >-
                maximum possible value for the column, e.g. 100 for percentage
                or 1 for fraction
            isMaximumExclusive:
              type: boolean
              description: if true, maximum value is exclusive
              default: false
            alertMetricTypeId:
              description: >-
                If alerts can be configured for this column, contains alert
                metric type ID
              type: integer
    GridApi_SavedReportRequestTrait:
      type: object
      required:
        - name
        - visibility
      properties:
        name:
          type: string
          description: Name of the saved report
          minLength: 1
        description:
          type: string
          description: Optional description of the saved report
        labels:
          type: array
          description: List of label IDs to associate with the saved report
          items:
            $ref: '#/components/schemas/LabelId'
        isFavorite:
          type: boolean
          description: >-
            Indicates if the saved report is marked as favorite by the current
            user
        visibility:
          $ref: '#/components/schemas/GridApi_SavedReportVisibilityEnum'
        queryDefinition:
          $ref: '#/components/schemas/GridApi_RequestDTO'
        displayMetadata:
          $ref: '#/components/schemas/GridApi_DisplayMetadataDTO'
        libraryMetadata:
          $ref: '#/components/schemas/GridApi_LibraryMetadataDTO'
        visualizations:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_VisualizationDTO'
    GridApi_CreateSavedReportRequestDTO:
      allOf:
        - $ref: '#/components/schemas/GridApi_SavedReportRequestTrait'
        - type: object
          required:
            - gridEntityType
            - queryDefinition
          properties:
            gridEntityType:
              $ref: '#/components/schemas/GridApi_GridEntityTypeEnum'
    GridApi_CreateSavedReportResponseDTO:
      type: object
      required:
        - id
      properties:
        id:
          $ref: '#/components/schemas/GridApi_SavedReportId'
    GridApi_UpdateSavedReportRequestDTO:
      allOf:
        - $ref: '#/components/schemas/GridApi_SavedReportRequestTrait'
    GridApi_FoundSavedReportsListResponseDTO:
      type: object
      required:
        - reports
      properties:
        reports:
          type: array
          items:
            $ref: '#/components/schemas/GridApi_FoundSavedReportDTO'
    GridApi_FoundSavedReportDTO:
      type: object
      description: >
        Represents a saved report retrieved from a search operation. Saved
        reports can be searched by the following properties:

        - `id`

        - `name`

        - `accountId`

        - `createdByUserId`
      required:
        - id
        - name
        - gridEntityType
        - accountId
        - company
        - createdByUserId
      properties:
        id:
          $ref: '#/components/schemas/GridApi_SavedReportId'
        name:
          type: string
          description: Name of the saved report
        gridEntityType:
          $ref: '#/components/schemas/GridApi_GridEntityTypeEnum'
        accountId:
          $ref: '#/components/schemas/AccountId'
        company:
          type: string
          description: Name of the account in which saved report was created
        createdByUserId:
          type: integer
          format: int64
          description: ID of the user who created the saved report
    SavedReportsAutoLabeling_JobId:
      type: string
      format: uuid
    StartSavedReportsAutoLabelingJobResponseDTO:
      type: object
      required:
        - jobId
      properties:
        jobId:
          $ref: '#/components/schemas/SavedReportsAutoLabeling_JobId'
    GetAutoLabelingJobDetailsResponseDTO:
      type: object
      description: |
        Properties available only when auto-labeling job is completed:
        - `completedAt`
      required:
        - jobId
        - status
        - createdAt
      properties:
        jobId:
          $ref: '#/components/schemas/SavedReportsAutoLabeling_JobId'
        status:
          $ref: '#/components/schemas/SavedReportsAutoLabeling_JobStatusEnum'
        createdAt:
          $ref: '#/components/schemas/DateAndTime'
        completedAt:
          $ref: '#/components/schemas/DateAndTime'
        error:
          type: string
          description: Error message if the job failed
        reports:
          type: array
          items:
            $ref: >-
              #/components/schemas/SavedReportsAutoLabelingJob_GetResponse_ReportItem
    SavedReportsAutoLabeling_JobStatusEnum:
      type: string
      enum:
        - pending
        - running
        - completed
        - failed
    SavedReportsAutoLabelingJob_GetResponse_ReportItem:
      type: object
      description: Saved report details with auto-labeling suggestions
      required:
        - id
        - name
        - description
        - gridEntityType
        - existingLabels
        - suggestedLabels
      properties:
        id:
          $ref: '#/components/schemas/GridApi_SavedReportId'
        name:
          type: string
        description:
          type: string
        gridEntityType:
          $ref: '#/components/schemas/GridApi_GridEntityTypeEnum'
        existingLabels:
          type: array
          items:
            $ref: '#/components/schemas/LabelId'
        suggestedLabels:
          type: array
          items:
            type: string
            description: Suggested label name
    SavedReportsAutoLabelingJob_ApplyRequestDTO:
      type: object
      description: List of reports to apply auto-labeling job results to
      required:
        - jobId
        - reports
      properties:
        jobId:
          $ref: '#/components/schemas/SavedReportsAutoLabeling_JobId'
        reports:
          type: array
          minItems: 1
          description: List of reports to apply auto-labeling job results to
          items:
            $ref: >-
              #/components/schemas/SavedReportsAutoLabelingJob_ApplyRequest_ReportItem
    SavedReportsAutoLabelingJob_ApplyRequest_ReportItem:
      type: object
      required:
        - id
        - labelsToAdd
      properties:
        id:
          $ref: '#/components/schemas/GridApi_SavedReportId'
        labelsToAdd:
          type: array
          items:
            type: string
            description: Label name to add
    GridApi_GetSavedReportsListResponseDTO:
      type: object
      required:
        - reports
        - metadata
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        reports:
          type: array
          items:
            $ref: '#/components/schemas/GridApi_SavedReportDTO'
    GridApi_SavedReportResponseTrait:
      type: object
      required:
        - id
        - name
        - visibility
        - gridEntityType
        - isFavorite
        - createdByUserId
        - myLastViewed
        - isEditable
        - isSharable
        - isManagedByOP
        - scheduledExportCount
      properties:
        id:
          $ref: '#/components/schemas/GridApi_SavedReportId'
        name:
          type: string
        description:
          type: string
        labels:
          type: array
          description: List of labels associated with the saved report
          items:
            $ref: '#/components/schemas/LabelId'
        visibility:
          $ref: '#/components/schemas/GridApi_SavedReportVisibilityEnum'
        gridEntityType:
          $ref: '#/components/schemas/GridApi_GridEntityTypeEnum'
        isFavorite:
          type: boolean
          description: >-
            Indicates if the saved report is marked as favorite by the current
            user
        createdByUserId:
          type: integer
          format: int64
        myLastViewed:
          $ref: '#/components/schemas/DateAndTime'
        isEditable:
          type: boolean
          description: >-
            TRUE if specified `saved report` can be changed by the user who made
            the API request, FALSE otherwise
        libraryMetadata:
          $ref: '#/components/schemas/GridApi_LibraryMetadataDTO'
        isSharable:
          type: boolean
          description: >-
            TRUE if specified `saved report` does not use cross-account grid
            querying mode, FALSE otherwise
        isManagedByOP:
          type: boolean
          description: >-
            TRUE if specified `saved report` is managed by ObservePoint, FALSE
            otherwise
        scheduledExportCount:
          type: integer
          description: Number of Scheduled Exports associated with this report
        sequenceNumber:
          type: integer
          description: >-
            Ordering sequence number for ObservePoint-managed reports. Only
            available for ObservePoint-managed reports.
        isHighlighted:
          type: boolean
          description: >-
            Indicates if the report should be displayed in the top row. Only
            available for ObservePoint-managed reports.
        isExperimental:
          type: boolean
          description: >-
            Indicates if the report is experimental and should only be visible
            to OpAdmin users. Only available for ObservePoint-managed reports.
        publishedAt:
          $ref: '#/components/schemas/DateAndTime'
    GridApi_SavedReportDTO:
      allOf:
        - $ref: '#/components/schemas/GridApi_SavedReportResponseTrait'
        - type: object
          required:
            - queryDefinition
          properties:
            displayMetadata:
              $ref: '#/components/schemas/GridApi_DisplayMetadataDTO'
            queryDefinition:
              $ref: '#/components/schemas/GridApi_RequestDTO'
            visualizations:
              type: array
              items:
                $ref: '#/components/schemas/GridApi_VisualizationDTO'
    GridApi_SavedReportsLibrary_SortColumn:
      type: string
      enum:
        - type
        - name
        - creator
        - last_viewed
        - sequence_number
        - visibility
    GridApi_SavedReportsLibrary_RequestDTO:
      type: object
      required:
        - isManagedByOP
      properties:
        isManagedByOP:
          type: boolean
          description: |
            When `true`, only template (starter) reports will be included.
            When `false`, only saved reports will be included.
        nameContains:
          type: string
          minLength: 1
          description: |
            Filters the results to only include reports
            whose names contain the specified substring (case-insensitive)
        descriptionContains:
          type: string
          minLength: 1
          description: >
            Filters the results to only include reports

            whose descriptions contain the specified substring
            (case-insensitive)
        labels:
          type: array
          minItems: 1
          description: >
            Filters the results to only include reports which have all specified
            labels
          items:
            $ref: '#/components/schemas/LabelId'
        labelNameContains:
          type: string
          minLength: 1
          description: >
            Filters the results to only include reports which have at least one
            label

            containing the specified substring (case-insensitive)
        creator:
          type: array
          minItems: 1
          description: >
            Filter the results to only include reports created by one of the
            specified users
          items:
            $ref: '#/components/schemas/UserId'
        creatorNameContains:
          type: string
          minLength: 1
          description: >
            Filter the results to only include reports whose creator's full name
            (first name + last name)

            contains the specified substring (case-insensitive).
        isOwnedByCurrentUser:
          type: boolean
          description: >
            When `true`, only reports created by the current user will be
            included.

            When `false`, reports created by other users will be included.
        visibility:
          type: array
          minItems: 1
          description: >
            Filter the results to only include reports with one of the specified
            visibility types.
          items:
            $ref: '#/components/schemas/GridApi_SavedReportVisibilityEnum'
        gridEntityType:
          type: array
          minItems: 1
          description: >
            Filter the results to only include reports with one of the specified
            grid entity types.
          items:
            $ref: '#/components/schemas/GridApi_GridEntityTypeEnum'
        gridEntityTypeContains:
          type: string
          minLength: 1
          description: >
            Filter the results to only include reports whose report type (ui
            type name)

            contains the specified substring (case-insensitive).
        isFavorite:
          type: boolean
          description: |
            When `true`, only favorite reports will be included.
            When `false`, only not favorite reports will be included.
        anyFieldContains:
          type: string
          description: >
            Filters the results to only include reports where any of the
            following fields

            contains the specified substring (case-insensitive):

            - name

            - description

            - labels' names

            - creator's name (first name + last name)

            - report type (ui type name)
    GridApi_SavedReportsLibrary_ResponseDTO:
      type: object
      required:
        - metadata
        - reports
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        reports:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_LibrarySavedReportDTO'
    GridApi_SavedReportsLibrary_GroupsSortColumn:
      type: string
      enum:
        - group_key
        - group_total_size
    GridApi_SavedReportsLibrary_GroupByEnum:
      type: string
      enum:
        - label
        - creator
        - type
    GridApi_SavedReportsLibrary_GroupsRequestDTO:
      allOf:
        - $ref: '#/components/schemas/GridApi_SavedReportsLibrary_RequestDTO'
        - type: object
          required:
            - groupBy
          properties:
            groupBy:
              $ref: '#/components/schemas/GridApi_SavedReportsLibrary_GroupByEnum'
    GridApi_SavedReportsLibrary_GroupsResponseDTO:
      type: object
      required:
        - metadata
        - groups
        - totalReportsCount
      properties:
        metadata:
          $ref: '#/components/schemas/CommonIterableResponseMetadata'
        totalReportsCount:
          type: integer
          description: Total number of unique reports across all groups
        groups:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_SavedReportsLibrary_GroupDTO'
    GridApi_SavedReportsLibrary_GroupDTO:
      type: object
      required:
        - groupKey
        - totalSize
        - reportsPreview
      properties:
        groupKey:
          type: object
          description: |
            Type depends on grouping criteria:
            - label ID (integer) when grouped by label
            - user ID (integer) when grouped by creator
            - grid entity type (string) when grouped by type
        totalSize:
          type: integer
          description: Total number of reports in this group
        reportsPreview:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/GridApi_LibrarySavedReportDTO'
    GridApi_LibrarySavedReportDTO:
      allOf:
        - $ref: '#/components/schemas/GridApi_SavedReportResponseTrait'
        - type: object
          required:
            - visualizationCount
          properties:
            visualizationCount:
              type: integer
              description: Number of visualizations associated with the saved report
    GridApi_VisualizationDTO:
      type: object
      required:
        - name
        - definition
      properties:
        name:
          type: string
          description: Name of the visualization
          minLength: 1
          maxLength: 190
        definition:
          $ref: '#/components/schemas/GridApi_VisualizationDefinitionDTO'
    GridApi_VisualizationsRequestDTO:
      type: object
      required:
        - visualizations
      properties:
        visualizations:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_VisualizationDTO'
    GridApi_VisualizationsResponseDTO:
      type: object
      required:
        - visualizations
      properties:
        visualizations:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_VisualizationDTO'
    GridApi_OpManagedReportRequestTrait:
      type: object
      required:
        - name
        - queryDefinition
        - displayMetadata
        - sequenceNumber
      properties:
        name:
          type: string
          description: Report name, must be unique among ObservePoint-managed reports
        description:
          type: string
          description: Optional description of the ObservePoint-managed report
        queryDefinition:
          $ref: '#/components/schemas/GridApi_RequestDTO'
        displayMetadata:
          $ref: '#/components/schemas/GridApi_DisplayMetadataDTO'
        libraryMetadata:
          $ref: '#/components/schemas/GridApi_LibraryMetadataDTO'
        sequenceNumber:
          type: integer
          description: >-
            Ordering sequence number, must be unique among ObservePoint-managed
            reports
        isHighlighted:
          type: boolean
          description: >-
            Whether the report should be highlighted (always displayed at the
            top)
        visualizations:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/GridApi_VisualizationDTO'
    GridApi_CreateOpManagedReportRequestDTO:
      allOf:
        - $ref: '#/components/schemas/GridApi_OpManagedReportRequestTrait'
        - type: object
          required:
            - gridEntityType
          properties:
            gridEntityType:
              $ref: '#/components/schemas/GridApi_GridEntityTypeEnum'
    GridApi_UpdateOpManagedReportRequestDTO:
      allOf:
        - $ref: '#/components/schemas/GridApi_OpManagedReportRequestTrait'
        - type: object
          required:
            - isExperimental
          properties:
            isExperimental:
              type: boolean
              description: >-
                Whether the report is experimental (only visible to OpAdmin
                users)
    GridApi_DisplayMetadataDTO:
      type: object
      description: Display metadata for the saved report
    GridApi_LibraryMetadataDTO:
      type: object
      description: Metadata required to show the saved report in the library
    GridApi_VisualizationDefinitionDTO:
      type: object
      description: JSON object containing FE definition for the visualization
    GridApi_SavedReportVisibilityEnum:
      type: string
      enum:
        - private
        - public
    GridApi_SavedReports_SortColumn:
      type: string
      enum:
        - type
        - name
        - creator
        - lastViewed
        - sequenceNumber
        - visibility
    GridApi_GridEntityTypeEnum:
      type: string
      enum:
        - web_audit_runs
        - web_journey_runs
        - pages
        - cookies
        - tags
        - tag_variables
        - links
        - accessibility_issues
        - network_requests
        - browser_logs
        - rules
      x-enum-varnames:
        - AUDIT_RUNS
        - JOURNEY_RUNS
        - PAGES
        - COOKIES
        - TAGS
        - TAG_VARIABLES
        - LINKS
        - ACCESSIBILITY_ISSUES
        - NETWORK_REQUESTS
        - BROWSER_LOGS
        - RULES
    GridApi_GridEntityTypeInPathEnum:
      type: string
      enum:
        - web-audit-runs
        - web-journey-runs
        - pages
        - cookies
        - tags
        - tag-variables
        - links
        - accessibility-issues
        - network-requests
        - browser-logs
        - rules
      x-enum-varnames:
        - AUDIT_RUNS
        - JOURNEY_RUNS
        - PAGES
        - COOKIES
        - TAGS
        - TAG_VARIABLES
        - LINKS
        - ACCESSIBILITY_ISSUES
        - NETWORK_REQUESTS
        - BROWSER_LOGS
        - RULES
    GridApi_NumberFormatEnum:
      type: string
      enum:
        - integer
        - decimal
    GridApi_CountUnitEnum:
      type: string
      enum:
        - size_bytes
        - duration_ms
    GridApi_SchemaColumnDef_Timestamp:
      description: >-
        ISO 8601 timestamp with offset, adjusted to the User's Timezone. Display
        format depends on `uiHints.formattingType`.
      allOf:
        - $ref: '#/components/schemas/GridApi_SchemaColumnDef'
    GridApi_SchemaColumnDef_Image:
      allOf:
        - $ref: '#/components/schemas/GridApi_SchemaColumnDef'
    AuditRunsGridColumnEnum:
      type: string
      x-implements:
        - com.observepoint.reportingapi.gen.interfaces.HasValue
      enum:
        - ACCOUNT_ID
        - ACCOUNT_NAME
        - ACCOUNT
        - ACCOUNT_TYPE
        - ACCOUNT_STATUS
        - AUDIT_RUN_ID
        - RUN_STARTED_AT
        - RUN_COMPLETED_AT
        - IS_MOST_RECENT_RUN
        - RUN_NOW_REQUESTED_BY
        - RUN_NOW_REQUESTED_BY_ID
        - RUN_NOW_REQUESTED_BY_FIRST_NAME
        - RUN_NOW_REQUESTED_BY_LAST_NAME
        - RUN_NOW_REQUESTED_BY_EMAIL
        - STOPPED_EARLY_BY
        - STOPPED_EARLY_BY_ID
        - STOPPED_EARLY_BY_FIRST_NAME
        - STOPPED_EARLY_BY_LAST_NAME
        - STOPPED_EARLY_BY_EMAIL
        - RUN_DURATION
        - AUDIT_RUN_COMPLETION_STATUS
        - CMP_ACTIONS_STATUS
        - CMP_ACTION_TYPE
        - AUDIT_RUN_PRE_AUDIT_ACTIONS_STATUS
        - AUDIT_RUN_PRE_AUDIT_ACTION_FAILURE
        - AUDIT_RUN_ON_PAGE_ACTIONS_STATUS
        - AUDIT_RUN_CONFIGURED_PRE_AUDIT_ACTION_COUNT
        - AUDIT_RUN_CONFIGURED_ON_PAGE_ACTION_COUNT
        - AUDIT_RUN_PAGES_WITH_FAILED_ON_PAGE_ACTIONS_COUNT
        - URL_SOURCE
        - RUN_START_REASON
        - AUDIT_RUN_DISCOVER_SITEMAPS_ENABLED
        - EMAIL_INBOX_ID
        - EMAIL_INBOX_NAME
        - EMAIL_INBOX
        - EMAIL_MESSAGE_ID
        - EMAIL_MESSAGE_SUBJECT
        - EMAIL_MESSAGE
        - EMAIL_MESSAGE_RECEIVED_AT
        - AUDIT
        - AUDIT_ID
        - AUDIT_NAME
        - AUDIT_CREATED_AT
        - AUDIT_UPDATED_AT
        - LOCATION
        - LABELS
        - SIMULTANEOUS_BROWSERS
        - BROWSER_WIDTH
        - BROWSER_HEIGHT
        - STARTING_URLS
        - PAGE_URL_FILTERS
        - SCHEDULE_NAME
        - SCHEDULE_PRESET_TYPE
        - SCHEDULE
        - NOTES
        - OWNER
        - OWNER_ID
        - OWNER_FIRST_NAME
        - OWNER_LAST_NAME
        - OWNER_EMAIL
        - FOLDER
        - FOLDER_ID
        - FOLDER_NAME
        - FOLDER_CREATOR_ID
        - FOLDER_CREATOR_FIRST_NAME
        - FOLDER_CREATOR_LAST_NAME
        - FOLDER_CREATOR_EMAIL
        - FOLDER_CREATOR
        - SUB_FOLDER
        - SUB_FOLDER_ID
        - SUB_FOLDER_NAME
        - USER_AGENT
        - USER_AGENT_HEADER
        - CUSTOM_PROXY
        - CUSTOM_PROXY_URL
        - VPN_MODE
        - GPC_SIGNAL
        - BLOCK_THIRD_PARTY_COOKIES
        - BLOCK_TECHNOLOGIES
        - FILE_SUBSTITUTION
        - CONSENT_CATEGORIES
        - WEBHOOK
        - AUDIT_SAME_URLS
        - DEDUPLICATE_URLS
        - IS_PAUSED
        - AUDIT_PAGES_SCANNED
        - AUDIT_PAGE_LIMIT
        - SCORE_TOTAL
        - SCORE_TAG_PRESENCE
        - SCORE_TAG_PERFORMANCE
        - SCORE_RULES
        - SCORE_PAGE_PERFORMANCE
        - SCORE_COOKIES
        - PAGE_SUMMARY_AVG_PAGE_LOAD_TIME
        - PAGE_SUMMARY_BROKEN_INITIAL_PAGE_COUNT
        - PAGE_SUMMARY_BROKEN_FINAL_PAGE_COUNT
        - PAGE_SUMMARY_BROKEN_FINAL_PAGE_PERCENTAGE
        - PAGE_SUMMARY_SUCCESSFUL_FINAL_PAGE_PERCENTAGE
        - PAGE_SUMMARY_PAGE_WITH_BROKEN_LINKS_COUNT
        - TAG_INVENTORY_UNIQUE_TAG_COUNT
        - TAG_INVENTORY_BROKEN_TAG_COUNT
        - TAG_INVENTORY_UNIQUE_TAG_CATEGORIES_COUNT
        - UNIQUE_RUN_TAG_IDS
        - UNIQUE_RUN_TAG_VENDOR_IDS
        - UNIQUE_RUN_TAG_CATEGORY_IDS
        - TAG_HEALTH_AVG_TAG_LOAD_TIME
        - TAG_HEALTH_AVG_TAG_REQUEST_SIZE
        - TAG_HEALTH_TAG_REQUEST_COUNT
        - TAG_HEALTH_SLOW_TAG_PERCENTAGE
        - TAG_HEALTH_BROKEN_TAG_PERCENTAGE
        - TAG_DUPLICATES_AND_MULTIPLES_TAG_DUPLICATE_COUNT
        - TAG_DUPLICATES_AND_MULTIPLES_TAG_MULTIPLE_COUNT
        - VARIABLE_INVENTORY_UNIQUE_VARIABLE_COUNT
        - VARIABLE_INVENTORY_UNIQUE_VARIABLE_VALUE_COUNT
        - BROWSER_LOGS_ERROR_LOG_COUNT
        - BROWSER_LOGS_WARN_LOG_COUNT
        - BROWSER_LOGS_INFO_LOG_COUNT
        - BROWSER_LOGS_DEBUG_LOG_COUNT
        - BROWSER_LOGS_OTHER_LOG_COUNT
        - COOKIE_INVENTORY_UNIQUE_COOKIE_COUNT
        - COOKIE_INVENTORY_FIRST_PARTY_COOKIE_COUNT
        - COOKIE_INVENTORY_THIRD_PARTY_COOKIE_COUNT
        - COOKIE_INVENTORY_NON_SECURE_COOKIE_COUNT
        - COOKIE_INVENTORY_SAME_SITE_EMPTY_COOKIE_COUNT
        - PRIVACY_COOKIES_PAGE_WITH_UNAPPROVED_COOKIES_COUNT
        - PRIVACY_COOKIES_APPROVED_COOKIE_COUNT
        - PRIVACY_COOKIES_UNAPPROVED_COOKIE_COUNT
        - PRIVACY_TAGS_PAGE_WITH_UNAPPROVED_TAGS_COUNT
        - PRIVACY_TAGS_APPROVED_TAG_COUNT
        - PRIVACY_TAGS_UNAPPROVED_TAG_COUNT
        - PRIVACY_REQUESTS_PAGE_WITH_UNAPPROVED_REQUESTS_COUNT
        - PRIVACY_REQUESTS_REQUEST_COUNT
        - PRIVACY_REQUESTS_UNIQUE_DOMAIN_COUNT
        - PRIVACY_REQUESTS_UNIQUE_LOCATION_COUNT
        - PRIVACY_REQUESTS_APPROVED_REQUEST_COUNT
        - PRIVACY_REQUESTS_UNAPPROVED_REQUEST_COUNT
        - FILE_CHANGES_CHANGED_FILE_COUNT
        - FILE_CHANGES_NEW_FILE_COUNT
        - FILE_CHANGES_FILE_DATE_CHANGE_COUNT
        - FILE_CHANGES_FILE_SIZE_CHANGE_COUNT
        - RULE_RESULTS_RULE_COUNT
        - RULE_RESULTS_RULE_FAILURE_COUNT
        - RULE_RESULTS_FAILED_RULE_PAGE_COUNT
        - RULE_RESULTS_FAILED_RULE_PAGE_PERCENTAGE
        - PAGE_SUMMARY_WEB_VITALS_LCP_P75
        - PAGE_SUMMARY_WEB_VITALS_LCP_DISTRIBUTION_POOR
        - PAGE_SUMMARY_WEB_VITALS_LCP_DISTRIBUTION_NEEDS_IMPROVEMENT
        - PAGE_SUMMARY_WEB_VITALS_LCP_DISTRIBUTION_GOOD
        - PAGE_SUMMARY_WEB_VITALS_FCP_P75
        - PAGE_SUMMARY_WEB_VITALS_FCP_DISTRIBUTION_POOR
        - PAGE_SUMMARY_WEB_VITALS_FCP_DISTRIBUTION_NEEDS_IMPROVEMENT
        - PAGE_SUMMARY_WEB_VITALS_FCP_DISTRIBUTION_GOOD
        - PAGE_SUMMARY_WEB_VITALS_TFB_P75
        - PAGE_SUMMARY_WEB_VITALS_TFB_DISTRIBUTION_POOR
        - PAGE_SUMMARY_WEB_VITALS_TFB_DISTRIBUTION_NEEDS_IMPROVEMENT
        - PAGE_SUMMARY_WEB_VITALS_TFB_DISTRIBUTION_GOOD
        - PAGE_SUMMARY_WEB_VITALS_CLS_P75
        - PAGE_SUMMARY_WEB_VITALS_CLS_DISTRIBUTION_POOR
        - PAGE_SUMMARY_WEB_VITALS_CLS_DISTRIBUTION_NEEDS_IMPROVEMENT
        - PAGE_SUMMARY_WEB_VITALS_CLS_DISTRIBUTION_GOOD
        - ALERT_SUMMARY_TOTAL_CONFIGURED_ALERTS_COUNT
        - ALERT_SUMMARY_TOTAL_TRIGGERED_ALERTS_COUNT
        - ALERT_SUMMARY_CONFIGURED_ALERT_METRIC_TYPES
        - ALERT_SUMMARY_TRIGGERED_ALERT_METRIC_TYPES
        - ALERT_SUMMARY_SUBSCRIBED_ALERT_METRIC_TYPES
        - USE_CASES_UNIQUE_ANALYTICS_TAGS_COUNT
        - USE_CASES_PAGES_MISSING_ANALYTICS_COUNT
        - USE_CASES_TMS_COVERAGE
        - USE_CASES_CMP_COVERAGE
        - USE_CASES_DATALAYER_COVERAGE
        - USE_CASES_PAGE_WITHOUT_QUERY_STRING_COUNT
        - USE_CASES_PAGE_WITH_REDIRECT_COUNT
        - USE_CASES_PAGES_MISSING_CONSENT_MANAGER_COUNT
        - USE_CASES_PAGES_MISSING_DATALAYER_COUNT
        - USE_CASES_PAGES_MISSING_TMS_COUNT
        - USE_CASES_ANALYTICS_COVERAGE
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_0_A
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_0_AA
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_0_AAA
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_1_A
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_1_AA
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_1_AAA
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_2_A
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_2_AA
        - AUDIT_RUN_ACCESSIBILITY_SCORE_WCAG_2_2_AAA
        - CONSENT_CATEGORIES_LIST
    GridApi_FilterOperatorEnum:
      type: string
      enum:
        - string_contains
        - string_contains_multi
        - string_regex
        - integer_in
        - integer_list_contains
        - number_between
        - date_time_between
        - date_time_relative
        - is_present
        - metric_alert_any
        - list_item_matches
        - any_column_contains
    GridApi_FilterTrait_Negated:
      type: object
      properties:
        negated:
          type: boolean
          description: >-
            If true, the filter will match entities where the value does not
            match
          default: false
    GridApi_Filter_IntegerListContainsModeEnum:
      type: string
      description: >
        Defines how target list should be matched against the filter args:

        - `contains_any` - at least one element from the filter args should be
        in the target list;

        - `contains_all` - all elements from the filter args should be in the
        target list, but the target list can contain more elements;

        - `contains_only` - all elements from the filter args should be in the
        target list, and the target list should NOT contain other elements.
      enum:
        - contains_any
        - contains_all
        - contains_only
    GridApi_Filter_DateTimeRelativeUnitEnum:
      type: string
      description: Specifies the unit of time for the relative date filter.
      enum:
        - minute
        - hour
        - day
        - week
        - month
    GridApi_ConditionsMatchModeEnum:
      type: string
      description: >
        Specifies how to combine results of multiple conditions when determining
        if a row should be included in the result:

        - `all` - all conditions must be met;

        - `any` - at least one condition must be met.

        Default is `all`.
      enum:
        - all
        - any
    GridApi_ResponseRow:
      type: array
      description: >
        Each row represents a single run. The order of values corresponds to the
        order of columns in the `headers`.

        Nested objects are represented as array of fields.
      items:
        type: object
    GridApi_PivotValue:
      type: object
      description: >
        Pivot value used to filter rows during aggregation. The value should be
        passed in the same format

        as received from the Grid API response. Type depends on the
        `pivotValuesColumnId` column type:

        - `entity_reference` (enum): integer (enum ID), e.g., `1`

        - `entity_reference` (non-enum, single field): integer (entity ID),
        e.g., `123`

        - `entity_reference` (non-enum, multiple fields): array matching Grid
        API response format,
          e.g., `["Tag Name", 123]` or `["Schedule Name", "preset_type"]`. Array elements correspond to the
          entity's fields in the same order as returned by the Grid API. For entity references with `id` field,
          only the `id` field is actually used for pivoting, so other fields can have arbitrary values
          (null or empty strings are acceptable).
        - `id`: integer, e.g., `456`

        - `number` (integer subtype): integer, e.g., `42`

        - `number` (decimal subtype): number (exact match, no epsilon
        tolerance), e.g., `3.14`

        - `string`: string (exact match), e.g., `"value"`

        - `timestamp`: string (ISO 8601 format), e.g., `"2025-01-15T10:30:00Z"`
    WebJourneyRunsGridColumnEnum:
      type: string
      x-implements:
        - com.observepoint.reportingapi.gen.interfaces.HasValue
      enum:
        - ACCOUNT_ID
        - ACCOUNT_NAME
        - ACCOUNT
        - ACCOUNT_TYPE
        - ACCOUNT_STATUS
        - WEB_JOURNEY_ID
        - WEB_JOURNEY_NAME
        - WEB_JOURNEY
        - WEB_JOURNEY_RUN_ID
        - WEB_JOURNEY_CREATED_AT
        - WEB_JOURNEY_UPDATED_AT
        - ACTIONS_CONFIGURED_COUNT
        - IS_PAUSED
        - SCHEDULE_NAME
        - SCHEDULE_PRESET_TYPE
        - SCHEDULE
        - OWNER
        - OWNER_ID
        - OWNER_FIRST_NAME
        - OWNER_LAST_NAME
        - OWNER_EMAIL
        - USER_AGENT
        - LOCATION
        - FOLDER
        - FOLDER_ID
        - FOLDER_NAME
        - FOLDER_CREATOR_ID
        - FOLDER_CREATOR_FIRST_NAME
        - FOLDER_CREATOR_LAST_NAME
        - FOLDER_CREATOR_EMAIL
        - FOLDER_CREATOR
        - SUB_FOLDER
        - SUB_FOLDER_ID
        - SUB_FOLDER_NAME
        - CUSTOM_PROXY
        - CUSTOM_PROXY_URL
        - BROWSER_WIDTH
        - BROWSER_HEIGHT
        - VPN_MODE
        - WEBHOOK
        - GPC_SIGNAL
        - BLOCK_THIRD_PARTY_COOKIES
        - LABELS
        - BLOCK_TECHNOLOGIES
        - FILE_SUBSTITUTION
        - NOTES
        - MONITOR_JOURNEY
        - RUN_START_REASON
        - RUN_NOW_REQUESTED_BY
        - RUN_NOW_REQUESTED_BY_ID
        - RUN_NOW_REQUESTED_BY_FIRST_NAME
        - RUN_NOW_REQUESTED_BY_LAST_NAME
        - RUN_NOW_REQUESTED_BY_EMAIL
        - RUN_STARTED_AT
        - RUN_COMPLETED_AT
        - RUN_DURATION
        - IS_MOST_RECENT_RUN
        - WJ_RUN_STATUS
        - ACTIONS_EXECUTED_COUNT
        - HAS_ACTIONS_FAILURE
        - FAILED_ACTION_SEQUENCE_NUMBER
        - FAILED_ACTION_TYPE
        - FAILED_ACTION_NAME
        - FAILED_ACTION_ERROR
        - CMP_ACTIONS_STATUS
        - CMP_ACTION_TYPE
        - TOTAL_CONFIGURED_RULES_COUNT
        - TOTAL_FAILED_RULES_COUNT
        - FAILED_RULE_DETAIL
        - FAILED_RULE_PERCENTAGE
        - TOTAL_RULE_RESULTS_COUNT
        - TOTAL_GLOBAL_RULES_COUNT
        - FAILED_GLOBAL_RULES_COUNT
        - FAILED_GLOBAL_RULE_PERCENTAGE
        - TOTAL_ACTION_RULES_COUNT
        - FAILED_ACTION_RULES_COUNT
        - FAILED_ACTION_RULES_PERCENTAGE
        - TOTAL_ACTION_WITH_RULES_COUNT
        - ACTION_WITH_RULES_FAILURE_COUNT
        - ACTION_WITH_RULES_FAILURE_PERCENTAGE
        - TOTAL_UNIQUE_TAGS_COUNT
        - TOTAL_UNIQUE_TAG_VENDORS_COUNT
        - TOTAL_UNIQUE_TAG_CATEGORIES_COUNT
        - TOTAL_UNIQUE_TAG_VARIABLES_COUNT
        - TOTAL_UNIQUE_COOKIES_COUNT
        - TOTAL_UNIQUE_COOKIE_DOMAINS_COUNT
    PagesGridColumnEnum:
      type: string
      x-implements:
        - com.observepoint.reportingapi.gen.interfaces.HasValue
      enum:
        - PAGE_ID
        - PAGE_TITLE
        - INITIAL_PAGE_URL
        - INITIAL_PAGE_URL_SCHEME
        - INITIAL_PAGE_URL_DOMAIN
        - INITIAL_PAGE_URL_BASE_DOMAIN
        - INITIAL_PAGE_URL_PORT
        - INITIAL_PAGE_URL_FRAGMENT
        - INITIAL_PAGE_URL_QUERY
        - INITIAL_PAGE_URL_PATH
        - INITIAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_HEADERS
        - INITIAL_PAGE_RESPONSE_HEADERS
        - FINAL_PAGE_URL
        - FINAL_PAGE_URL_SCHEME
        - FINAL_PAGE_URL_DOMAIN
        - FINAL_PAGE_URL_BASE_DOMAIN
        - FINAL_PAGE_URL_PORT
        - FINAL_PAGE_URL_FRAGMENT
        - FINAL_PAGE_URL_QUERY
        - FINAL_PAGE_URL_PATH
        - FINAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_SERVER_IP
        - INITIAL_PAGE_REQUEST_COUNTRY_CODE
        - INITIAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_REQUEST_HEADERS
        - FINAL_PAGE_RESPONSE_HEADERS
        - INITIAL_PAGE_STATUS_CODE
        - INITIAL_PAGE_STATUS_CODE_TYPE
        - FINAL_PAGE_REQUEST_SERVER_IP
        - FINAL_PAGE_REQUEST_COUNTRY_CODE
        - FINAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_STATUS_CODE
        - FINAL_PAGE_STATUS_CODE_TYPE
        - PAGE_REDIRECT_COUNT
        - PAGE_LOAD_TIME
        - PAGE_SIZE
        - ABSOLUTE_PAGE_VISIT_START_TIME
        - ABSOLUTE_PAGE_VISIT_END_TIME
        - PAGE_LINK_COUNT
        - PAGE_HAS_BROKEN_LINKS
        - ALL_PAGE_LINKS
        - ALL_PAGE_COOKIES
        - PAGE_BROWSER_ERROR
        - HAS_BROWSER_ERROR
        - FAILED_ON_PAGE_ACTION_COUNT
        - PAGE_CONTAINER_ID
        - BROWSER_SESSION_ID
        - PAGE_LARGEST_CONTENTFUL_PAINT
        - PAGE_FIRST_CONTENTFUL_PAINT
        - PAGE_TIME_TO_FIRST_BYTE
        - PAGE_CUMULATIVE_LAYOUT_SHIFT
        - ON_PAGE_ACTION_FAILURE
        - IS_MOST_RECENT_PAGE_SCAN
        - TAG_REQUEST_COUNT
        - UNIQUE_TAG_COUNT
        - BROKEN_TAG_COUNT
        - AVG_TAG_LOAD_TIME
        - AVG_TAG_REQUEST_SIZE
        - DUPLICATES_TAG_COUNT
        - MULTIPLES_TAG_COUNT
        - UNIQUE_PAGE_TAG_IDS
        - UNIQUE_PAGE_TAG_VENDOR_IDS
        - UNIQUE_PAGE_TAG_CATEGORY_IDS
        - RULE_FAILURE_COUNT
        - COOKIE_COUNT
        - TOTAL_COOKIE_SIZE
        - ERROR_COUNT
        - WARNING_COUNT
        - INFO_COUNT
        - DEBUG_COUNT
        - UNIQUE_GEO_COUNT
        - REQUEST_COUNT
        - PAGE_SOURCE_TYPE
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_0_A
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_0_AA
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_0_AAA
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_1_A
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_1_AA
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_1_AAA
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_2_A
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_2_AA
        - PAGE_ACCESSIBILITY_SCORE_WCAG_2_2_AAA
        - ACCOUNT_ID
        - ACCOUNT_NAME
        - ACCOUNT
        - ACCOUNT_TYPE
        - ACCOUNT_STATUS
        - AUDIT_RUN_ID
        - RUN_STARTED_AT
        - RUN_COMPLETED_AT
        - AUDIT_PAGES_SCANNED
        - IS_MOST_RECENT_RUN
        - AUDIT_RUN_COMPLETION_STATUS
        - CMP_ACTIONS_STATUS
        - CMP_ACTION_TYPE
        - AUDIT_RUN_PRE_AUDIT_ACTIONS_STATUS
        - AUDIT_RUN_PRE_AUDIT_ACTION_FAILURE
        - AUDIT_RUN_ON_PAGE_ACTIONS_STATUS
        - AUDIT_RUN_CONFIGURED_PRE_AUDIT_ACTION_COUNT
        - AUDIT_RUN_CONFIGURED_ON_PAGE_ACTION_COUNT
        - AUDIT_RUN_PAGES_WITH_FAILED_ON_PAGE_ACTIONS_COUNT
        - RUN_DURATION
        - RUN_NOW_REQUESTED_BY
        - RUN_NOW_REQUESTED_BY_ID
        - RUN_NOW_REQUESTED_BY_FIRST_NAME
        - RUN_NOW_REQUESTED_BY_LAST_NAME
        - RUN_NOW_REQUESTED_BY_EMAIL
        - STOPPED_EARLY_BY
        - STOPPED_EARLY_BY_ID
        - STOPPED_EARLY_BY_FIRST_NAME
        - STOPPED_EARLY_BY_LAST_NAME
        - STOPPED_EARLY_BY_EMAIL
        - RUN_START_REASON
        - URL_SOURCE
        - AUDIT_ID
        - AUDIT_NAME
        - AUDIT
        - AUDIT_CREATED_AT
        - AUDIT_UPDATED_AT
        - AUDIT_PAGE_LIMIT
        - LOCATION
        - LABELS
        - SIMULTANEOUS_BROWSERS
        - BROWSER_WIDTH
        - BROWSER_HEIGHT
        - STARTING_URLS
        - PAGE_URL_FILTERS
        - SCHEDULE_PRESET_TYPE
        - SCHEDULE_NAME
        - SCHEDULE
        - NOTES
        - OWNER
        - OWNER_ID
        - OWNER_FIRST_NAME
        - OWNER_LAST_NAME
        - OWNER_EMAIL
        - FOLDER
        - FOLDER_ID
        - FOLDER_NAME
        - FOLDER_CREATOR_ID
        - FOLDER_CREATOR_FIRST_NAME
        - FOLDER_CREATOR_LAST_NAME
        - FOLDER_CREATOR_EMAIL
        - FOLDER_CREATOR
        - SUB_FOLDER
        - SUB_FOLDER_ID
        - SUB_FOLDER_NAME
        - USER_AGENT
        - USER_AGENT_HEADER
        - CUSTOM_PROXY
        - CUSTOM_PROXY_URL
        - VPN_MODE
        - GPC_SIGNAL
        - AUDIT_RUN_DISCOVER_SITEMAPS_ENABLED
        - BLOCK_THIRD_PARTY_COOKIES
        - BLOCK_TECHNOLOGIES
        - FILE_SUBSTITUTION
        - CONSENT_CATEGORIES
        - WEBHOOK
        - AUDIT_SAME_URLS
        - DEDUPLICATE_URLS
        - IS_PAUSED
        - EMAIL_INBOX_ID
        - EMAIL_INBOX_NAME
        - EMAIL_INBOX
        - EMAIL_MESSAGE_ID
        - EMAIL_MESSAGE_SUBJECT
        - EMAIL_MESSAGE
        - EMAIL_MESSAGE_RECEIVED_AT
    CookiesGridColumnEnum:
      type: string
      x-implements:
        - com.observepoint.reportingapi.gen.interfaces.HasValue
      enum:
        - ACCOUNT_ID
        - AUDIT_ID
        - AUDIT_RUN_ID
        - ACCOUNT_NAME
        - ACCOUNT
        - ACCOUNT_TYPE
        - ACCOUNT_STATUS
        - RUN_STARTED_AT
        - RUN_COMPLETED_AT
        - AUDIT_PAGES_SCANNED
        - IS_MOST_RECENT_RUN
        - AUDIT_RUN_COMPLETION_STATUS
        - CMP_ACTIONS_STATUS
        - CMP_ACTION_TYPE
        - AUDIT_RUN_PRE_AUDIT_ACTIONS_STATUS
        - AUDIT_RUN_PRE_AUDIT_ACTION_FAILURE
        - AUDIT_RUN_ON_PAGE_ACTIONS_STATUS
        - AUDIT_RUN_CONFIGURED_PRE_AUDIT_ACTION_COUNT
        - AUDIT_RUN_CONFIGURED_ON_PAGE_ACTION_COUNT
        - AUDIT_RUN_PAGES_WITH_FAILED_ON_PAGE_ACTIONS_COUNT
        - RUN_DURATION
        - RUN_NOW_REQUESTED_BY
        - RUN_NOW_REQUESTED_BY_ID
        - RUN_NOW_REQUESTED_BY_FIRST_NAME
        - RUN_NOW_REQUESTED_BY_LAST_NAME
        - RUN_NOW_REQUESTED_BY_EMAIL
        - STOPPED_EARLY_BY
        - STOPPED_EARLY_BY_ID
        - STOPPED_EARLY_BY_FIRST_NAME
        - STOPPED_EARLY_BY_LAST_NAME
        - STOPPED_EARLY_BY_EMAIL
        - RUN_START_REASON
        - URL_SOURCE
        - AUDIT_RUN_DISCOVER_SITEMAPS_ENABLED
        - AUDIT_NAME
        - AUDIT
        - AUDIT_CREATED_AT
        - AUDIT_UPDATED_AT
        - AUDIT_PAGE_LIMIT
        - LOCATION
        - LABELS
        - SIMULTANEOUS_BROWSERS
        - BROWSER_WIDTH
        - BROWSER_HEIGHT
        - STARTING_URLS
        - PAGE_URL_FILTERS
        - SCHEDULE_NAME
        - SCHEDULE_PRESET_TYPE
        - SCHEDULE
        - NOTES
        - OWNER
        - OWNER_ID
        - OWNER_FIRST_NAME
        - OWNER_LAST_NAME
        - OWNER_EMAIL
        - FOLDER
        - FOLDER_ID
        - FOLDER_NAME
        - FOLDER_CREATOR_ID
        - FOLDER_CREATOR_FIRST_NAME
        - FOLDER_CREATOR_LAST_NAME
        - FOLDER_CREATOR_EMAIL
        - FOLDER_CREATOR
        - SUB_FOLDER
        - SUB_FOLDER_ID
        - SUB_FOLDER_NAME
        - USER_AGENT
        - USER_AGENT_HEADER
        - CUSTOM_PROXY
        - CUSTOM_PROXY_URL
        - VPN_MODE
        - GPC_SIGNAL
        - BLOCK_THIRD_PARTY_COOKIES
        - BLOCK_TECHNOLOGIES
        - FILE_SUBSTITUTION
        - CONSENT_CATEGORIES
        - WEBHOOK
        - AUDIT_SAME_URLS
        - DEDUPLICATE_URLS
        - IS_PAUSED
        - EMAIL_INBOX_ID
        - EMAIL_INBOX_NAME
        - EMAIL_INBOX
        - EMAIL_MESSAGE_ID
        - EMAIL_MESSAGE_SUBJECT
        - EMAIL_MESSAGE
        - EMAIL_MESSAGE_RECEIVED_AT
        - PAGE_ID
        - PAGE_TITLE
        - PAGE_SOURCE_TYPE
        - INITIAL_PAGE_URL
        - INITIAL_PAGE_URL_SCHEME
        - INITIAL_PAGE_URL_DOMAIN
        - INITIAL_PAGE_URL_BASE_DOMAIN
        - INITIAL_PAGE_URL_PORT
        - INITIAL_PAGE_URL_FRAGMENT
        - INITIAL_PAGE_URL_QUERY
        - INITIAL_PAGE_URL_PATH
        - INITIAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_HEADERS
        - INITIAL_PAGE_RESPONSE_HEADERS
        - FINAL_PAGE_URL
        - FINAL_PAGE_URL_SCHEME
        - FINAL_PAGE_URL_DOMAIN
        - FINAL_PAGE_URL_BASE_DOMAIN
        - FINAL_PAGE_URL_PORT
        - FINAL_PAGE_URL_FRAGMENT
        - FINAL_PAGE_URL_QUERY
        - FINAL_PAGE_URL_PATH
        - FINAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_COUNTRY_CODE
        - INITIAL_PAGE_REQUEST_SERVER_IP
        - INITIAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_REQUEST_HEADERS
        - FINAL_PAGE_RESPONSE_HEADERS
        - INITIAL_PAGE_STATUS_CODE
        - INITIAL_PAGE_STATUS_CODE_TYPE
        - FINAL_PAGE_REQUEST_COUNTRY_CODE
        - FINAL_PAGE_REQUEST_SERVER_IP
        - FINAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_STATUS_CODE
        - FINAL_PAGE_STATUS_CODE_TYPE
        - PAGE_REDIRECT_COUNT
        - PAGE_LOAD_TIME
        - PAGE_SIZE
        - ABSOLUTE_PAGE_VISIT_START_TIME
        - ABSOLUTE_PAGE_VISIT_END_TIME
        - PAGE_LINK_COUNT
        - PAGE_HAS_BROKEN_LINKS
        - PAGE_BROWSER_ERROR
        - HAS_BROWSER_ERROR
        - FAILED_ON_PAGE_ACTION_COUNT
        - PAGE_CONTAINER_ID
        - BROWSER_SESSION_ID
        - PAGE_LARGEST_CONTENTFUL_PAINT
        - PAGE_FIRST_CONTENTFUL_PAINT
        - PAGE_TIME_TO_FIRST_BYTE
        - PAGE_CUMULATIVE_LAYOUT_SHIFT
        - ON_PAGE_ACTION_FAILURE
        - IS_MOST_RECENT_PAGE_SCAN
        - COOKIE_NAME
        - COOKIE_DOMAIN
        - COOKIE_NAME_AND_DOMAIN
        - COOKIE_PATH
        - COOKIE_VALUE
        - COOKIE_HTTP_ONLY
        - COOKIE_SECURE
        - COOKIE_SAME_SITE
        - COOKIE_EXPIRATION_TYPE
        - COOKIE_PARTITION_KEY
        - COOKIE_PARTY_TYPE
        - COOKIE_EXPIRATION_DATE
        - COOKIE_DURATION
        - COOKIE_SIZE
        - COOKIE_TOTAL_INITIATOR_COUNT
        - COOKIE_HTTP_INITIATOR_COUNT
        - COOKIE_JS_INITIATOR_COUNT
        - COOKIE_TAG_INITIATOR_COUNT
        - COOKIE_CHANGED_DURING_PRE_AUDIT_ACTION
        - COOKIE_CHANGED_DURING_PAGE_LOAD
        - COOKIE_CHANGED_DURING_ON_PAGE_ACTION
        - COOKIE_IS_PRE_AUDIT_ACTION_ONLY
        - COOKIE_CONSENT_CATEGORIES_COUNT
        - COOKIE_COMPLIANCE_STATUS
        - INITIATORS_TAG_IDS
        - INITIATORS_TAG_CATEGORY_IDS
        - INITIATORS_TAG_VENDOR_IDS
        - COOKIE_SET_METHODS
        - COOKIE_CONSENT_CATEGORIES
    TagsGridColumnEnum:
      type: string
      x-implements:
        - com.observepoint.reportingapi.gen.interfaces.HasValue
      enum:
        - ACCOUNT_ID
        - AUDIT_ID
        - AUDIT_RUN_ID
        - ACCOUNT_NAME
        - ACCOUNT
        - ACCOUNT_TYPE
        - ACCOUNT_STATUS
        - RUN_STARTED_AT
        - RUN_COMPLETED_AT
        - AUDIT_PAGES_SCANNED
        - IS_MOST_RECENT_RUN
        - AUDIT_RUN_COMPLETION_STATUS
        - CMP_ACTIONS_STATUS
        - CMP_ACTION_TYPE
        - AUDIT_RUN_PRE_AUDIT_ACTIONS_STATUS
        - AUDIT_RUN_PRE_AUDIT_ACTION_FAILURE
        - AUDIT_RUN_ON_PAGE_ACTIONS_STATUS
        - AUDIT_RUN_CONFIGURED_PRE_AUDIT_ACTION_COUNT
        - AUDIT_RUN_CONFIGURED_ON_PAGE_ACTION_COUNT
        - AUDIT_RUN_PAGES_WITH_FAILED_ON_PAGE_ACTIONS_COUNT
        - RUN_DURATION
        - RUN_NOW_REQUESTED_BY
        - RUN_NOW_REQUESTED_BY_ID
        - RUN_NOW_REQUESTED_BY_FIRST_NAME
        - RUN_NOW_REQUESTED_BY_LAST_NAME
        - RUN_NOW_REQUESTED_BY_EMAIL
        - STOPPED_EARLY_BY
        - STOPPED_EARLY_BY_ID
        - STOPPED_EARLY_BY_FIRST_NAME
        - STOPPED_EARLY_BY_LAST_NAME
        - STOPPED_EARLY_BY_EMAIL
        - RUN_START_REASON
        - URL_SOURCE
        - AUDIT_RUN_DISCOVER_SITEMAPS_ENABLED
        - AUDIT_NAME
        - AUDIT
        - AUDIT_CREATED_AT
        - AUDIT_UPDATED_AT
        - AUDIT_PAGE_LIMIT
        - LOCATION
        - LABELS
        - SIMULTANEOUS_BROWSERS
        - BROWSER_WIDTH
        - BROWSER_HEIGHT
        - STARTING_URLS
        - PAGE_URL_FILTERS
        - SCHEDULE_PRESET_TYPE
        - SCHEDULE_NAME
        - SCHEDULE
        - NOTES
        - OWNER
        - OWNER_ID
        - OWNER_FIRST_NAME
        - OWNER_LAST_NAME
        - OWNER_EMAIL
        - FOLDER
        - FOLDER_ID
        - FOLDER_NAME
        - FOLDER_CREATOR_ID
        - FOLDER_CREATOR_FIRST_NAME
        - FOLDER_CREATOR_LAST_NAME
        - FOLDER_CREATOR_EMAIL
        - FOLDER_CREATOR
        - SUB_FOLDER
        - SUB_FOLDER_ID
        - SUB_FOLDER_NAME
        - USER_AGENT
        - USER_AGENT_HEADER
        - CUSTOM_PROXY
        - CUSTOM_PROXY_URL
        - VPN_MODE
        - GPC_SIGNAL
        - BLOCK_THIRD_PARTY_COOKIES
        - BLOCK_TECHNOLOGIES
        - FILE_SUBSTITUTION
        - CONSENT_CATEGORIES
        - WEBHOOK
        - AUDIT_SAME_URLS
        - DEDUPLICATE_URLS
        - IS_PAUSED
        - EMAIL_INBOX_ID
        - EMAIL_INBOX_NAME
        - EMAIL_INBOX
        - EMAIL_MESSAGE_ID
        - EMAIL_MESSAGE_SUBJECT
        - EMAIL_MESSAGE
        - EMAIL_MESSAGE_RECEIVED_AT
        - PAGE_ID
        - PAGE_TITLE
        - PAGE_SOURCE_TYPE
        - INITIAL_PAGE_URL
        - INITIAL_PAGE_URL_SCHEME
        - INITIAL_PAGE_URL_DOMAIN
        - INITIAL_PAGE_URL_BASE_DOMAIN
        - INITIAL_PAGE_URL_PORT
        - INITIAL_PAGE_URL_FRAGMENT
        - INITIAL_PAGE_URL_QUERY
        - INITIAL_PAGE_URL_PATH
        - INITIAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_HEADERS
        - INITIAL_PAGE_RESPONSE_HEADERS
        - FINAL_PAGE_URL
        - FINAL_PAGE_URL_SCHEME
        - FINAL_PAGE_URL_DOMAIN
        - FINAL_PAGE_URL_BASE_DOMAIN
        - FINAL_PAGE_URL_PORT
        - FINAL_PAGE_URL_FRAGMENT
        - FINAL_PAGE_URL_QUERY
        - FINAL_PAGE_URL_PATH
        - FINAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_COUNTRY_CODE
        - INITIAL_PAGE_REQUEST_SERVER_IP
        - INITIAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_REQUEST_HEADERS
        - FINAL_PAGE_RESPONSE_HEADERS
        - INITIAL_PAGE_STATUS_CODE
        - INITIAL_PAGE_STATUS_CODE_TYPE
        - FINAL_PAGE_REQUEST_COUNTRY_CODE
        - FINAL_PAGE_REQUEST_SERVER_IP
        - FINAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_STATUS_CODE
        - FINAL_PAGE_STATUS_CODE_TYPE
        - PAGE_REDIRECT_COUNT
        - PAGE_LOAD_TIME
        - PAGE_SIZE
        - ABSOLUTE_PAGE_VISIT_START_TIME
        - ABSOLUTE_PAGE_VISIT_END_TIME
        - PAGE_LINK_COUNT
        - PAGE_HAS_BROKEN_LINKS
        - PAGE_BROWSER_ERROR
        - HAS_BROWSER_ERROR
        - FAILED_ON_PAGE_ACTION_COUNT
        - PAGE_CONTAINER_ID
        - BROWSER_SESSION_ID
        - PAGE_LARGEST_CONTENTFUL_PAINT
        - PAGE_FIRST_CONTENTFUL_PAINT
        - PAGE_TIME_TO_FIRST_BYTE
        - PAGE_CUMULATIVE_LAYOUT_SHIFT
        - ON_PAGE_ACTION_FAILURE
        - IS_MOST_RECENT_PAGE_SCAN
        - TAG_INSTANCE_ID
        - TAG_ID
        - TAG_NAME
        - TAG
        - TAG_VENDOR
        - TAG_VENDOR_ID
        - TAG_VENDOR_NAME
        - TAG_CATEGORY
        - TAG_CATEGORY_ID
        - TAG_CATEGORY_NAME
        - TAG_ACCOUNT
        - TAG_VERSION
        - TAG_STATUS_CODE
        - TAG_STATUS_CODE_TYPE
        - TAG_STARTED_AT
        - TAG_RESPONSE_AT
        - TAG_STOPPED_AT
        - TAG_DURATION
        - TAG_SIZE
        - TAG_IDENTICAL_REQUEST_COUNT
        - TAG_IS_DUPLICATED
        - TAG_MULTIPLES
        - TAG_COOKIES_SET
        - TAG_COMPLIANCE_STATUS
        - TAG_CONSENT_CATEGORIES
        - TAG_REQUEST_CONSENT_CATEGORIES
        - IS_PRIMARY_TAG
        - REQUEST_STARTED_AT_RELATIVE_TO_PAGE_NAVIGATION
        - REQUEST_STARTED_AT_RELATIVE_TO_FCP
        - REQUEST_STARTED_AT_RELATIVE_TO_LCP
        - REQUEST_STARTED_AT_RELATIVE_TO_LOAD_EVENT
        - REQUEST_URL
        - REQUEST_URL_PORT
        - REQUEST_URL_DOMAIN
        - REQUEST_URL_BASE_DOMAIN
        - REQUEST_URL_PATH
        - REQUEST_URL_QUERY_PARAMS
        - REQUEST_URL_FRAGMENT
        - REQUEST_STATUS_CODE
        - REQUEST_COUNTRY_CODE
        - REQUEST_NETWORK_ERROR
        - REQUEST_METHOD
        - REQUEST_SERVER_IP_ADDRESS
        - REQUEST_HTTP_VERSION
        - REQUEST_RESOURCE_TYPE
        - REQUEST_DOMAIN_AND_GEO_CONSENT_CATEGORY_STATUS
        - RESPONSE_CONTENT_SIZE
        - RESPONSE_CONTENT_MIME_TYPE
        - RESPONSE_CONTENT_ENCODING
        - RESPONSE_LAST_MODIFIED
        - TAG_INITIATORS_BY_BASE_DOMAIN
        - TAG_INITIATORS_BY_DOMAIN
        - TAG_INITIATORS_BY_FULL_URL
        - TAG_INITIATORS_CHAIN_LENGTH
        - REQUEST_HEADERS
        - RESPONSE_HEADERS
    TagVariablesGridColumnEnum:
      type: string
      x-implements:
        - com.observepoint.reportingapi.gen.interfaces.HasValue
      enum:
        - ACCOUNT_ID
        - AUDIT_ID
        - AUDIT_RUN_ID
        - ACCOUNT_NAME
        - ACCOUNT
        - ACCOUNT_TYPE
        - ACCOUNT_STATUS
        - RUN_STARTED_AT
        - RUN_COMPLETED_AT
        - AUDIT_PAGES_SCANNED
        - IS_MOST_RECENT_RUN
        - AUDIT_RUN_COMPLETION_STATUS
        - CMP_ACTIONS_STATUS
        - CMP_ACTION_TYPE
        - AUDIT_RUN_PRE_AUDIT_ACTIONS_STATUS
        - AUDIT_RUN_PRE_AUDIT_ACTION_FAILURE
        - AUDIT_RUN_ON_PAGE_ACTIONS_STATUS
        - AUDIT_RUN_CONFIGURED_PRE_AUDIT_ACTION_COUNT
        - AUDIT_RUN_CONFIGURED_ON_PAGE_ACTION_COUNT
        - AUDIT_RUN_PAGES_WITH_FAILED_ON_PAGE_ACTIONS_COUNT
        - RUN_DURATION
        - RUN_NOW_REQUESTED_BY
        - RUN_NOW_REQUESTED_BY_ID
        - RUN_NOW_REQUESTED_BY_FIRST_NAME
        - RUN_NOW_REQUESTED_BY_LAST_NAME
        - RUN_NOW_REQUESTED_BY_EMAIL
        - STOPPED_EARLY_BY
        - STOPPED_EARLY_BY_ID
        - STOPPED_EARLY_BY_FIRST_NAME
        - STOPPED_EARLY_BY_LAST_NAME
        - STOPPED_EARLY_BY_EMAIL
        - RUN_START_REASON
        - URL_SOURCE
        - AUDIT_RUN_DISCOVER_SITEMAPS_ENABLED
        - AUDIT_NAME
        - AUDIT
        - AUDIT_CREATED_AT
        - AUDIT_UPDATED_AT
        - AUDIT_PAGE_LIMIT
        - LOCATION
        - LABELS
        - SIMULTANEOUS_BROWSERS
        - BROWSER_WIDTH
        - BROWSER_HEIGHT
        - STARTING_URLS
        - PAGE_URL_FILTERS
        - SCHEDULE_PRESET_TYPE
        - SCHEDULE_NAME
        - SCHEDULE
        - NOTES
        - OWNER
        - OWNER_ID
        - OWNER_FIRST_NAME
        - OWNER_LAST_NAME
        - OWNER_EMAIL
        - FOLDER
        - FOLDER_ID
        - FOLDER_NAME
        - FOLDER_CREATOR_ID
        - FOLDER_CREATOR_FIRST_NAME
        - FOLDER_CREATOR_LAST_NAME
        - FOLDER_CREATOR_EMAIL
        - FOLDER_CREATOR
        - SUB_FOLDER
        - SUB_FOLDER_ID
        - SUB_FOLDER_NAME
        - USER_AGENT
        - USER_AGENT_HEADER
        - CUSTOM_PROXY
        - CUSTOM_PROXY_URL
        - VPN_MODE
        - GPC_SIGNAL
        - BLOCK_THIRD_PARTY_COOKIES
        - BLOCK_TECHNOLOGIES
        - FILE_SUBSTITUTION
        - CONSENT_CATEGORIES
        - WEBHOOK
        - AUDIT_SAME_URLS
        - DEDUPLICATE_URLS
        - IS_PAUSED
        - EMAIL_INBOX_ID
        - EMAIL_INBOX_NAME
        - EMAIL_INBOX
        - EMAIL_MESSAGE_ID
        - EMAIL_MESSAGE_SUBJECT
        - EMAIL_MESSAGE
        - EMAIL_MESSAGE_RECEIVED_AT
        - PAGE_ID
        - PAGE_TITLE
        - PAGE_SOURCE_TYPE
        - INITIAL_PAGE_URL
        - INITIAL_PAGE_URL_SCHEME
        - INITIAL_PAGE_URL_DOMAIN
        - INITIAL_PAGE_URL_BASE_DOMAIN
        - INITIAL_PAGE_URL_PORT
        - INITIAL_PAGE_URL_FRAGMENT
        - INITIAL_PAGE_URL_QUERY
        - INITIAL_PAGE_URL_PATH
        - INITIAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_HEADERS
        - INITIAL_PAGE_RESPONSE_HEADERS
        - FINAL_PAGE_URL
        - FINAL_PAGE_URL_SCHEME
        - FINAL_PAGE_URL_DOMAIN
        - FINAL_PAGE_URL_BASE_DOMAIN
        - FINAL_PAGE_URL_PORT
        - FINAL_PAGE_URL_FRAGMENT
        - FINAL_PAGE_URL_QUERY
        - FINAL_PAGE_URL_PATH
        - FINAL_PAGE_URL_PATTERN
        - INITIAL_PAGE_REQUEST_COUNTRY_CODE
        - INITIAL_PAGE_REQUEST_SERVER_IP
        - INITIAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_REQUEST_HEADERS
        - FINAL_PAGE_RESPONSE_HEADERS
        - INITIAL_PAGE_STATUS_CODE
        - INITIAL_PAGE_STATUS_CODE_TYPE
        - FINAL_PAGE_REQUEST_COUNTRY_CODE
        - FINAL_PAGE_REQUEST_SERVER_IP
        - FINAL_PAGE_RESPONSE_LAST_MODIFIED
        - FINAL_PAGE_STATUS_CODE
        - FINAL_PAGE_STATUS_CODE_TYPE
        - PAGE_REDIRECT_COUNT
        - PAGE_LOAD_TIME
        - PAGE_SIZE
        - ABSOLUTE_PAGE_VISIT_START_TIME
        - ABSOLUTE_PAGE_VISIT_END_TIME
[...]
